---
layout: 'default'
title: 'About Us | Dentists in Old Kent Road Dental London SE1'
banner: '/images/banner_about.jpg'
description: 'Passionate about what we do, we are a team of approachable, highly experienced and highly trained dental professionals, keen to do our best to help our patients smile with confidence, in a way that won’t break your pocket… or the bank!'
keywords: 'about us, dentist london se1, nhs dentist london se1, general dentist, emergency dentist london se1, se1 dentist, dentist old kent road, botox se1, broken teeth se1, broken tooth se1, central london denist, city dentist, south east london dentist, southwark dentist, south london dentist, lambeth dentist, se dentist'
---

table(width='98%', border='0', cellpadding='00', cellspacing='0')
    tr
        td(width='61%', valign='top')
            h1 About us
            p.
                Passionate about what we do, we are a team of approachable, highly
                experienced and highly trained dental professionals, keen to do our best to
                help our patients smile with confidence, in a way that won’t break your
                pocket… or the bank!
            p.
                We often find that patients who haven’t seen a dentist for a long time are
                concerned that they will receive a lecture from us.
                Here at Old Kent Road Dental Studio, we understand that dentistry can
                be a daunting prospect, we are good at listening to what you want and
                any concerns you may have, and we promise not to tell you off!
            h1 Our Team
            img#floatedImg(src='/images/img_DrEva.jpg', alt='Dr Eva Vassilaros')
            h2 Dr Eva Vassilaros - Dentist
            p
                span.
                    Eva graduated in 1999 from the Karolinska
                    Institute in Stockholm; one of the best dental
                    universities in the world, and has been working
                    in general practice for a number of years.
                br
                br
                span.
                    With a friendly and caring approach, Eva is great at helping nervous
                    patients feel relaxed and at listening to what patients want. She has a
                    wide experience in general dental procedures and cosmetic dentistry such
                    as teeth whitening and natural-looking, long-lasting crown and bridge
                    work.
            p Eva speaks many languages and is fluent in English, Swedish and Greek.
                br
                br
                img#floatedImg(src='/images/img_DrAlex.jpg', alt='Dr Alex Stogios')
                h2 Dr Alex Stogios - Dentist
                p.
                    Having graduated from the Dental Faculty of the Charite, Humboldt University in Berlin, 
                    Alex has a unique breath and depth of experience and dental expertise, 
                    specialising in all aspects of cosmetic and restorative dentistry.
                p
                    span.
                        Fluent in English, Greek and German, Alex enjoys travelling and is committed to keeping up 
                        to date with the latest techniques in cosmetic dentistry by attending dental courses both in the UK and abroad.
                    br
                    br
                    span.
                        Moving to London and general practice in 2003, Alex is now joint practice owner and has been 
                        the driving force behind the Old Kent Road Dental Studio philosophy of providing high quality dentistry at 
                        NHS prices. So far, feedback at the practice has been overwhelmingly positive and he is always determined to 
                        keep increasing the variety of affordably priced treatments that are available to valued patients.
                    br
                    br
                    img#floatedImg(src='/images/img_DrAnthimiTsianou.jpg', alt='Dr Alex Stogios')
                    h2 Dr Anthimi Tsianou - Dentist
                    p
                        span.
                            Dr Anthimi Tsianou qualified from the University of Athens Dental School in 2002 and specialised in Oral Medicine 
                            and Oral Pathology obtaining her Master’s in 2008. Since qualifying, she has placed much importance on her post 
                            graduate education in order to provide the latest knowledge and techniques to her patients and has 
                            concentrated in Cosmetic Dentistry and modern Facial Aesthetics.
                        br
                        br
                        span.
                            Dr Anthimi Tsianou has trained with leading Prosthetologist and Warwick Medical School 
                            Professor Dominic Hassal in Contemporary Restorative and Cosmetic Dentistry.
                        br
                        br
                        span.
                            Dr Anthimi Tsianou has trained on Facial Aesthetics next to the top UK trainer and pioneering 
                            clinician Dr Bob Khanna and has successfully completed the Botulinum Toxin and Derma fillers 
                            Facial Aesthetics Techniques course at the Dr Bob Khanna Training Institute.
                        br
                        br
                        span.
                            Dr Tsianou’s strong clinical and academic background is complimented by a truly compassionate and 
                            caring approach to her patients. She is often described as “light handed” and praised for 
                            her painless injection technique!
        td(width='39%', align='right', valign='top')
            .leftBox_whychoose
                #head
                    img(src='/images/title_whyChoose.jpg', alt='Why Choose us')
                #mid
                    ul
                        li Affordable dental care that won’t break the bank
                        li High quality general and cosmetic dentistry
                        li Expert, highly experienced dentists
                        li Approachable, friendly team
                        li Modern, clean facilities
                        li Flexible opening times
                        li Convenient location
                #bottom
            .green_btn New Patient exam £20
            .green_btn2
                a(href='/teeth-whitening') Zoom! 1hour Power Whitening £299*
            .tour_of_practice
                a(href='/tour-of-our-practice') 
                    | Take a Tour of our Practice
                    br
                    | -Click Here-