!!! transitional
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        link(href='css/global.css', rel='stylesheet', type='text/css')
        script(src='js/email.js')
        //if IE
        style.
            div { behavior: url(includes/iepngfix.htc)}
        //if gt IE 6
        link(href='css/ie.css', rel='stylesheet', type='text/css')
        //if IE 6
        link(href='css/ie6.css', rel='stylesheet', type='text/css')
        title About Us | Dentists in Old Kent Road Dental London SE1
        meta(name='description', content='Passionate about what we do, we are a team of approachable, highly experienced and highly trained dental professionals, keen to do our best to help our patients smile with confidence, in a way that won’t break your pocket… or the bank!')
        meta(name='keywords', content='about us, dentist london se1, nhs dentist london se1, general dentist, emergency dentist london se1, se1 dentist, dentist old kent road, botox se1, broken teeth se1, broken tooth se1, central london denist, city dentist, south east london dentist, southwark dentist, south london dentist, lambeth dentist, se dentist')
    body
        .layout_top
        .global_wrap
            .global_header
                .logo
                    a(href='index.html')
                        a(href='index.html')
                            img(src='images/logo.gif', border='0')
                .top_right
                    #phone_no
                        img(src='images/phone.jpg', alt='call us on:020 7701 7878', width='184', height='46')
                    br
                    a(href='booking.html')
                        img(src='images/btn_bookAppointemt.jpg', alt='Book appointment', width='208', height='41')
                .global_topNavigation
                    ul#top
                        li
                            a(href='index.html')
                            | HOME
                        li ABOUT US
                        li
                            a(href='nhs-private-dentistry.html')
                            | NHS V PRIVATE DENTISTRY
                        li
                            a(href='fee-guide.html')
                            | FEE GUIDE
                    ul
                        li
                            a(href='general-dental-care.html')
                            | GENERAL DENTAL CARE
                        li
                            a(href='cosmetic-dentistry.html')
                            | COSMETIC DENTISTRY
                        li
                            a(href='special-offers.html')
                            | SPECIAL OFFERS
                        li
                            a(href='contact-us.html')
                            | CONTACT US
            .banner
                img(src='images/banner_about.jpg', alt='About Us')
            .global_content
                table(width='98%', border='0', cellpadding='00', cellspacing='0')
                    tr
                        td(width='61%', valign='top')
                            //
                            <img src="images/header_about.jpg" alt="Welcome to Old Kent Road Dental Studio, we are a general dental care and cosmetic dentistry clinic with a difference" width="86" height="23" />
                            h1 About us
                            p
                                | Passionate about what we do, we are a team of approachable, highly
                                | experienced and highly trained dental professionals, keen to do our best to
                                | help our patients smile with confidence, in a way that won’t break your
                                | pocket… or the bank!
                            p
                                | We often find that patients who haven’t seen a dentist for a long time are
                                | concerned that they will receive a lecture from us.
                                | Here at Old Kent Road Dental Studio, we understand that dentistry can
                                | be a daunting prospect, we are good at listening to what you want and
                                | any concerns you may have, and we promise not to tell you off!
                            h1 Our Team
                            img#floatedImg(src='images/img_DrEva.jpg', alt='Dr Eva Vassilaros')
                            h2 Dr Eva Vassilaros - Dentist
                            p
                                | Eva graduated in 1999 from the Karolinska
                                | Institute in Stockholm; one of the best dental
                                | universities in the world, and has been working
                                | in general practice for a number of years.
                                br
                                br
                                | With a friendly and caring approach, Eva is great at helping nervous
                                | patients feel relaxed and at listening to what patients want. She has a
                                | wide experience in general dental procedures and cosmetic dentistry such
                                | as teeth whitening and natural-looking, long-lasting crown and bridge
                                | work.
                            p
                                | Eva speaks many languages and is fluent in English, Swedish and Greek.
                                br
                                br
                                img#floatedImg(src='images/img_DrAlex.jpg', alt='Dr Alex Stogios')
                                h2 Dr Alex Stogios - Dentist
                                p
                                    | Having graduated from the Dental Faculty of the Charite, Humboldt University in Berlin, Alex has a unique breath and depth of experience and dental expertise, specialising in all aspects of cosmetic and restorative dentistry.
                                p
                                    | Fluent in English, Greek and German, Alex enjoys travelling and is committed to keeping up to date with the latest techniques in cosmetic dentistry by attending dental courses both in the UK and abroad.
                                    br
                                    br
                                    | Moving to London and general practice in 2003, Alex is now joint practice owner and has been the driving force behind the Old Kent Road Dental Studio philosophy of providing high quality dentistry at NHS prices. So far, feedback at the practice has been overwhelmingly positive and he is always determined to keep increasing the variety of affordably priced treatments that are available to valued patients.
                                    br
                                    br
                                    img#floatedImg(src='images/img_DrAnthimiTsianou.jpg', alt='Dr Alex Stogios')
                                    h2 Dr Anthimi Tsianou - Dentist
                                    p
                                        | Dr Anthimi Tsianou qualified from the University of Athens Dental School in 2002 and specialised in Oral Medicine and Oral Pathology obtaining her Master’s in 2008. Since qualifying, she has placed much importance on her post graduate education in order to provide the latest knowledge and techniques to her patients and has concentrated in Cosmetic Dentistry and modern Facial Aesthetics.
                                        br
                                        br
                                        | Dr Anthimi Tsianou has trained with leading Prosthetologist and Warwick Medical School Professor Dominic Hassal in Contemporary Restorative and Cosmetic Dentistry.
                                        br
                                        br
                                        | Dr Anthimi Tsianou has trained on Facial Aesthetics next to the top UK trainer and pioneering clinician Dr Bob Khanna and has successfully completed the Botulinum Toxin and Derma fillers Facial Aesthetics Techniques course at the Dr Bob Khanna Training Institute.
                                        br
                                        br
                                        | Dr Tsianou’s strong clinical and academic background is complimented by a truly compassionate and caring approach to her patients. She is often described as “light handed” and praised for her painless injection technique!
                        td(width='39%', align='right', valign='top')
                            .leftBox_whychoose
                                #head
                                    img(src='images/title_whyChoose.jpg', alt='Why Choose us')
                                #mid
                                    ul
                                        li Affordable dental care that won’t break the bank
                                        li High quality general and cosmetic dentistry
                                        li Expert, highly experienced dentists
                                        li Approachable, friendly team
                                        li Modern, clean facilities
                                        li Flexible opening times
                                        li Convenient location
                                #bottom
                            .green_btn
                                img(src='images/btn_newPatientExam.jpg', width='149', height='38')
                            .green_btn2
                                a(href='teeth-whitening.html')
                                    img(src='images/btn_Zoom!TeethWhitening.jpg', alt='Zoom 1 Hour teeth Whitening In Surgery')
                            .green_btn
                                a(href='tour-of-our-practice.html')
                                    img(src='images/btn_tour.jpg', width='178', height='40')
        .global_footer
            #address
            .box_wrap
                p
                    b
                        | Old Kent Road Dental Studio, 268a Old Kent Road, London, SE1 5UB Tel: 020 7701 7878
                    br
                    br
                    span#bottom_link
                        a(href='general-dental-care.html') General dental care at NHS prices
                        | |
                        a(href='cosmetic-dentistry.html') Cosmetic dental treatments to suit all needs and budgets
                        | |
                        a(href='contact-us.html') Dentist Old Kent Road
                        | |
                        a(href='contact-us.html')
                            | Dentist London
                            br
                            | Bridge
                        | |
                        a(href='contact-us.html') Dentist SE1
                        | |
                        a(href='contact-us.html') Dentist Southwark
                        | |
                        a(href='contact-us.html') Dentist Tower Bridge
                        | |
                        a(href='contact-us.html') Dentist Bermondsey
                        | |
                        a(href='contact-us.html') Dentist Peckham
                        | |
                        a(href='contact-us.html') Dentist Elephant and Castle
                    br
                    br
                    span#rights
                        | © Copyright 2012 Old Kent Road Dental Studio. All Rights Reserved. | Old Kent Road Dental Studio is a Limited company registered in England and Wales
                p
                    a(href='http://www.matthewandpritchard.co.uk/dental_marketing.php') Dental Marketing & Web Design
                    | by Matthew & Pritchard
            #more
                .box_wrap
                    h1 General and Cosmetic Dentist in Southwark, SE1
                    p
                        | It can be difficult to find an understanding and reliable dentist, which is why at Old Kent Road Dental Studio, 268a, Southwark SE1 5UB, we believe in ensuring that visiting a dentist is a reassuring and positive experience. Looking for a  dentist in Southwark SE1or a private dental care at NHS prices or simply a Cosmetic Dentist, Elephant and Castle, London Bridge then look no further than your SE1-Dentist, the Old Kent Road Dental Studio is local to you and can help.
                    h2 Cosmetic Dentistry in Southwark, London SE1 and surrounding areas:
                    p
                        | Old Kent Road Dental Care is a general and cosmetic dentists offering not only Cosmetic Smile Makeovers but also advanced state of the art
                        a(href='general-dental-care.html') General Dentistry
                        | in Southwark, London. Old Kent Road Dental Care is a private dentist practice, but with near NHS pricing for this affordable high quality dental service in Elephant and Castle, near London Bridge and the City of London. We offer affordable private dentistry in a calm and friendly environment.
                    p
                        | See our before and after cases through the
                        a(href='cosmetic-dentistry.html') cosmetic dentistry
                        | section of this website. Looking for experts in cosmetic dentistry at affordable NHS prices? Look no further.
                        | Whether you live or work in any of the following areas,
                        a(href='../contact-us.html') SE1, EC2, SE11, SE17
                        | Old Kent Road Dental Studio will be able to provide the highest standard in affordable general and cosmetic private dental treatments from dental implants, restorative dentistry,
                        a(href='veneers.html') veneers
                        | ,
                        a(href='../inlays-onlays.html') inlays and onlays
                        | ,
                        a(href='../white-fillings.html') white fillings
                        | (replacing silver fillings),
                        a(href='../teeth-whitening.html') Teeth whitening
                        | ,
                        a(href='../all-ceramic-crowns-bridges.html') crowns and bridges
                        | and
                        a(href='../dentures.html') dentures
                        | .
                    p
                        | Old Kent Road Dental Studio
                        a(href='../index.html') (www.se1-dentist.co.uk)
                        | will provide an efficient, timely service for all of your general private dentistry needs, so if you're working in The City and have a short amount of time in which to visit your dentist, the dental team at se1-dentists will not delay you with long waiting times and provide appointment times to suit you and work around your possible hectic lifestyle.
                    h2
                        a(href='../teeth-whitening.html') Tooth Whitening
                        | at Elephant & Castle, London Bridge and even Canary Wharf:
                    p
                        | Located on the famous Old Kent Road in London SE1, the Old Kent Road Dental Studio is within walking distance of the major stations of London Bridge and Elephant & Castle utilizing both national rail and the tube lines; bakerloo, northern and jubilee (we are a Canary Wharf dentist option). With this access from the main train services getting your teeth whitened during even your lunch hour or coming in to pick up your
                        a(href='../teeth-whitening.html') take home teeth whitening kit
                        | is certainly an option - we look forward to seeing you.
                    h2
                        a(href='../nhs-private-dentistry.html') Private v NHS Dentist London SE1
                        | :
                    p
                        | At
                        a(href='../index.html') www.se1-dentist.co.uk
                        | we pride ourselves on being able to offer affordable dental treatments at near NHS prices with a service that is unrivalled in the local area. Please feel free to take a
                        a(href='../tour-of-our-practice.html') tour of our practice
                        | and
                        a(href='../about-us.html') meet the dental team
                        | at
                        a(href='../index.html') SE1-dentist.co.uk
                        | .
                    p
                        | For any further questions, please get in touch by phone
                        a(href='../contact-us.html') 020 7701 7878
                        | or by
                        a(href='../booking.html') booking a dental appointment online
                        | .
                    p
                        | We looking forward to hearing from you and making your smile healthier and more attractive with the best in general and cosmetic private dental care.
            script.
                var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
                document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            script.
                try {
                var pageTracker = _gat._getTracker("UA-10327722-1");
                pageTracker._trackPageview();
                } catch(err) {}
