---
layout: 'default'
title: 'About Us | Dentists in Old Kent Road Dental London SE1'
banner: '/images/banner_about.jpg'
description: 'Passionate about what we do, we are a team of approachable, highly experienced and highly trained dental professionals, keen to do our best to help our patients smile with confidence, in a way that won’t break your pocket… or the bank!'
keywords: 'about us, dentist london se1, nhs dentist london se1, general dentist, emergency dentist london se1, se1 dentist, dentist old kent road, botox se1, broken teeth se1, broken tooth se1, central london denist, city dentist, south east london dentist, southwark dentist, south london dentist, lambeth dentist, se dentist'
---

table(width='98%', border='0', cellpadding='00', cellspacing='0')
    tr
        td(width='61%', valign='top')
            h1 About us
            p.
                Passionate about what we do, we are a team of approachable, highly
                experienced and highly trained dental professionals, keen to do our best to
                help our patients smile with confidence, in a way that won’t break your
                pocket… or the bank!
            p.
                We often find that patients who haven’t seen a dentist for a long time are
                concerned that they will receive a lecture from us.
                Here at Old Kent Road Dental Studio, we understand that dentistry can
                be a daunting prospect, we are good at listening to what you want and
                any concerns you may have, and we promise not to tell you off!
            h1 Our Team
            img#floatedImg(src='/images/img_DrEva.jpg', alt='Dr Eva Vassilaros')
            h2 Dr Eva Vassilaros - Dentist
            h4 GDC 77186
                
            p
                span.
                    Eva graduated in 1999 from the Karolinska
                    Institute in Stockholm; one of the best dental
                    universities in the world, and has been working
                    in general practice for a number of years.
                br
                br
                span.
                    With a friendly and caring approach, Eva is great at helping nervous
                    patients feel relaxed and at listening to what patients want. She has a
                    wide experience in general dental procedures and cosmetic dentistry such
                    as teeth whitening and natural-looking, long-lasting crown and bridge
                    work.
            p Eva speaks many languages and is fluent in English, Swedish and Greek.
                br
                br
            
            img#floatedImg(src='/images/debra.jpg', alt='Dr Deborah Reynolds')
            h2 Dr Deborah Reynolds - Dentist
            h4 BDS(LON) MJDF
               br
               |GDC 72610
            p
                span.
                    Deborah graduated from Guys' Dental School in 1996. 
                    She enjoys general practice and likes the 'family' feel that it provides. 
                    She enjoys treating children and helping with their acceptance of dentistry 
                    Deborah has 17 years experience in practice. 
                    She is a member of the Faculty of General Dental Practitioners. 
                br
                br
            img#floatedImg(src='/images/Iwona1.jpg', alt='Iwona Zacharewicz')
            h2 
                |Iwona Zacharewicz 
                br
                |dental nurse / receptionist
            h4 GDC 199717
            p
                span.
                    Iwona is an experienced dental nurse and has been nursing since 2009. She gained
                    a dentail nursing qualification in 2010 at Merton College. She will answer any questions
                    or queries patients may have about their dental treatment and the services we provide. 
                br
                br
                span.
                    Outside of the practice she enjoys traveling and is a fluent Polish speaker. 
        td(width='39%', align='right', valign='top')
            .leftBox_whychoose
                #head
                    img(src='/images/title_whyChoose.jpg', alt='Why Choose us')
                #mid
                    ul
                        li Affordable dental care that won’t break the bank
                        li High quality general and cosmetic dentistry
                        li Expert, highly experienced dentists
                        li Approachable, friendly team
                        li Modern, clean facilities
                        li Flexible opening times
                        li Convenient location
                #bottom
            .green_btn New Patient exam £25
            .tour_of_practice
                a(href='/tour-of-our-practice') 
                    | Take a Tour of our Practice
                    br
                    | -Click Here-
