---
layout: 'default'
title: 'All Ceramic Crowns & Bridges | Dentists in Old Kent Road Dental London SE1'
banner: 'images/banner_cosmeticDentistry.jpg'
description: 'Ceramic Crowns and bridges in London SE1, Elephant & Castle, London Bridge'
keywords: 'crowns, tooth, teeth, bridges, denstists, dentist london se1, old kent road, elephant & castle, cosmetic dentistry, cosmetic, crowns and bridges, ceramic'
---

table(width='98%', border='0', cellpadding='00', cellspacing='0')
    tr
        td(width='61%', rowspan='2', valign='top')
            h1 Crowns & Bridges
            h2 Crowns
            p
                | A crown, sometimes known as a ‘cap’ is a protective cover fitted over the
                | existing structure of a broken or damaged tooth to restore function and
                | appearance. With no black line at gum level and made to match your
                | natural teeth in their size, shape and colour, an all-ceramic crown
                | provides a very natural looking restoration and smile.
                h2 Why has my dentist suggested a crown?
                p
                    | Crowns are indicated for teeth, which are too extensively decayed,
                    | damaged or discoloured for treatment by other means.
                h2 How long will a crown or a bridge last?
                p
                    | If your overall dental outlook is favourable, a dental crown or bridge
                    | should last for at least 10 years.
                h2 Bridges
                p
                    | A bridge is a number of crowns joined together which allows one or
                    | more missing teeth to be replaced without using a denture or dental
                    | implant.
                h2 Is a Bridge Necessary
                p
                    | A bridge is recommended for optimum dental health. It can restore
                    | and help maintain your natural bite, it prevents unnatural stress on
                    | adjacent teeth and it helps discourage further dental decay and
                    | periodontal problem.
                h2 Why should I replace missing teeth?
                p
                    | Your appearance is one reason, another is that the gap left by a missing
                    | tooth can mean greater strain is put on the teeth at either side. A gap
                    | can also mean your bite is affected, because the teeth next to the space
                    | can lean into the gap and alter the way the upper and lower teeth bite
                    | together. This can then lead to food getting packed into the gap, which
                    | causes both decay and gum disease.
        td(width='39%', align='right', valign='top')
            .leftBox_cosmeticDentalTreatments
                #head
                    img(src='images/boxTitle_OurCosmeticDentalTreatments.jpg', alt='Why Choose us')
                #mid
                    table(width='100%', height='161', border='0', cellpadding='00', cellspacing='0')
                        tr
                            td(height='28', valign='middle')
                                a(href='white_fillings.php') White Fillings
                        tr
                            td(height='28', valign='middle', bgcolor='#DDEFF1')
                                a(href='inlays-onlays.html') Inlays & Onlays
                        tr
                            td(height='28', valign='middle')
                                a(href='teeth-whitening.html') Teeth Whitening
                        tr
                            td(height='28', valign='middle', bgcolor='#DDEFF1')
                                a(href='all-ceramic-crowns-bridges.html') Crowns & Bridges
                        tr
                            td(height='28', valign='middle')
                                a(href='veneers.html') Veneers
                        tr
                            td(height='20', valign='bottom', bgcolor='#DDEFF1')
                                a(href='dentures.html') Dentures
                #bottom
            br
            script.
                AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','212','height','128','title','before and after all ceramic crowns','src','swf/crowns','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','swf/crowns','wmode','transparent' ); //end AC code
            noscript
                object(classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000', codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0', width='212', height='128', title='before and after all ceramic crowns')
                    param(name='movie', value='swf/crowns.swf')
                    param(name='quality', value='high')
                    param(name='wmode', value='transparent')
                    embed(src='swf/crowns.swf', quality='high', pluginspage='http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash', type='application/x-shockwave-flash', width='212', height='128')
            br
            .green_btn
                img(src='images/btn_allCeramicCrown.jpg', alt='All Ceramic Crown')
            .green_btn
                img(src='images/btn_allCeramicbridge.jpg', alt='All Ceramic bridges')
    tr
        td(align='right')