---
layout: 'default'
title: 'Book an Appointment | Dentists in Old Kent Road Dental London SE1'
banner: '/images/banner_specialOfferce.jpg'
description: 'Book an appointment with our SE1 dentist via our online booking form'
keywords: 'book an appointment, tooth, teeth, denstists, dentist london se1, old kent road, elephant & castle, NHS dentistry, Lambeth, dentist south east london'
---

table(width='98%', border='0', cellpadding='00', cellspacing='0')
    tr
        td(width='61%', rowspan='2', valign='top')
            h1 Book Appointment
            p
                | You can use this form to book an appointment. A member of our reception team will contact you as soon as possible to confirm your choice. Alternatively, you can call us on 020 7701 7878.
            .contactForm
                form(action='/book', method='POST')
                    table(cellspacing='16', cellpadding='0', border='0')
                        tr
                            td.form_field(valign='top', align='right') Name
                            td(width='10', aligh='right', valign='top')
                                font(size='2', color='#ff0000') *
                            td.form_text
                                input.text_box(type='text', name='name', value='')
                        tr
                            td.form_field(valign='top', align='right') Email
                            td(width='10', aligh='right', valign='top')
                                font(size='2', color='#ff0000') *
                            td.form_text
                                input.text_box(type='email', name='email', value='')
                        tr
                            td.form_field(valign='top', align='right') Phone
                            td(width='10', aligh='right', valign='top')
                                font(size='2', color='#ff0000') *
                            td.form_text
                                input.text_box(type='text', name='Phone', value='')
                        tr
                            td.form_field(valign='top', align='right') Type of patient
                            td(width='10', aligh='right', valign='top')
                                font(size='2', color='#ff0000') *
                            td.form_text
                                input(type='radio', name='Type_of_patient', value='New')
                                | &nbsp;New
                                br
                                input(type='radio', name='Type_of_patient', value='Existing')
                                | &nbsp;Existing
                                br
                        tr
                            td.form_field(valign='top', align='right') Preferred Date
                            td(width='10', aligh='right', valign='top')
                                font(size='2', color='#ff0000') *
                            td.form_text
                                select.form_text(name='Preferred_Date_DD')
                                    option(value='') DD
                                    option(value='01') 01
                                    option(value='02') 02
                                    option(value='03') 03
                                    option(value='04') 04
                                    option(value='05') 05
                                    option(value='06') 06
                                    option(value='07') 07
                                    option(value='08') 08
                                    option(value='09') 09
                                    option(value='10') 10
                                    option(value='11') 11
                                    option(value='12') 12
                                    option(value='13') 13
                                    option(value='14') 14
                                    option(value='15') 15
                                    option(value='16') 16
                                    option(value='17') 17
                                    option(value='18') 18
                                    option(value='19') 19
                                    option(value='20') 20
                                    option(value='21') 21
                                    option(value='22') 22
                                    option(value='23') 23
                                    option(value='24') 24
                                    option(value='25') 25
                                    option(value='26') 26
                                    option(value='27') 27
                                    option(value='28') 28
                                    option(value='29') 29
                                    option(value='30') 30
                                    option(value='31') 31
                                select.form_text(name='Preferred_Date_MM')
                                    option(value='') MM
                                    option(value='01') 01
                                    option(value='02') 02
                                    option(value='03') 03
                                    option(value='04') 04
                                    option(value='05') 05
                                    option(value='06') 06
                                    option(value='07') 07
                                    option(value='08') 08
                                    option(value='09') 09
                                    option(value='10') 10
                                    option(value='11') 11
                                    option(value='12') 12
                                
                                select.form_text(name='Preferred_Date_YYYY')
                                    option(value='') YYYY
                                    option(value='2014') 2014
                                    option(value='2015') 2015
                                    option(value='2016') 2016
                                    option(value='2017') 2017
                        tr
                            td.form_field(valign='top', align='right') Preferred Time
                            td(width='10', aligh='right', valign='top')
                                font(size='2', color='#ff0000') *
                            td.form_text
                                select.form_text(name='Preferred_Time_HH')
                                    option(value='') HH
                                    option(value='00') 00
                                    option(value='01') 01
                                    option(value='02') 02
                                    option(value='03') 03
                                    option(value='04') 04
                                    option(value='05') 05
                                    option(value='06') 06
                                    option(value='07') 07
                                    option(value='08') 08
                                    option(value='09') 09
                                    option(value='10') 10
                                    option(value='11') 11
                                    option(value='12') 12
                                    option(value='13') 13
                                    option(value='14') 14
                                    option(value='15') 15
                                    option(value='16') 16
                                    option(value='17') 17
                                    option(value='18') 18
                                    option(value='19') 19
                                    option(value='20') 20
                                    option(value='21') 21
                                    option(value='22') 22
                                    option(value='23') 23
                                select.form_text(name='Preferred_Time_MM')
                                    option(value='') MM
                                    option(value='00') 00
                                    option(value='01') 01
                                    option(value='02') 02
                                    option(value='03') 03
                                    option(value='04') 04
                                    option(value='05') 05
                                    option(value='06') 06
                                    option(value='07') 07
                                    option(value='08') 08
                                    option(value='09') 09
                                    option(value='10') 10
                                    option(value='11') 11
                                    option(value='12') 12
                                    option(value='13') 13
                                    option(value='14') 14
                                    option(value='15') 15
                                    option(value='16') 16
                                    option(value='17') 17
                                    option(value='18') 18
                                    option(value='19') 19
                                    option(value='20') 20
                                    option(value='21') 21
                                    option(value='22') 22
                                    option(value='23') 23
                                    option(value='24') 24
                                    option(value='25') 25
                                    option(value='26') 26
                                    option(value='27') 27
                                    option(value='28') 28
                                    option(value='29') 29
                                    option(value='30') 30
                                    option(value='31') 31
                                    option(value='32') 32
                                    option(value='33') 33
                                    option(value='34') 34
                                    option(value='35') 35
                                    option(value='36') 36
                                    option(value='37') 37
                                    option(value='38') 38
                                    option(value='39') 39
                                    option(value='40') 40
                                    option(value='41') 41
                                    option(value='42') 42
                                    option(value='43') 43
                                    option(value='44') 44
                                    option(value='45') 45
                                    option(value='46') 46
                                    option(value='47') 47
                                    option(value='48') 48
                                    option(value='49') 49
                                    option(value='50') 50
                                    option(value='51') 51
                                    option(value='52') 52
                                    option(value='53') 53
                                    option(value='54') 54
                                    option(value='55') 55
                                    option(value='56') 56
                                    option(value='57') 57
                                    option(value='58') 58
                                    option(value='59') 59
                        tr
                            td.form_field(valign='top', align='right') Message
                            td(width='10', aligh='right', valign='top')
                            td.form_text
                                textarea(name='message', rows='4', cols='25')
                        tr
                            td(colspan='3', align='center')
                                input(type='submit', value='Submit')
        td(width='39%', align='right', valign='top')
            .leftBox_whychoose
                #head
                    img(src='/images/title_whyChoose.jpg', alt='Why Choose us')
                #mid
                    ul
                        li Affordable dental care that won’t break the bank
                        li High quality general and cosmetic dentistry
                        li Expert, highly experienced dentists
                        li Approachable, friendly team
                        li Modern, clean facilities
                        li Flexible opening times
                        li Convenient location
                #bottom
    tr
        td(align='right')