---
layout: 'default'
title: 'Book an Appointment | Dentists in Old Kent Road Dental London SE1'
banner: '/images/banner_specialOfferce.jpg'
description: 'Book an appointment with our SE1 dentist via our online booking form'
keywords: 'book an appointment, tooth, teeth, denstists, dentist london se1, old kent road, elephant & castle, NHS dentistry, Lambeth, dentist south east london'
---

.container
    .content
        h1 Book Appointment
        p.
            You can use this form to book an appointment. A member of our reception team
            will be emailed with your details. They will contact you as soon as possible to confirm the booking.
            Alternatively, you can call us on 020 7701 7878.
        .contactForm
            form(action='/book', method='POST')
                |Booking Confirmed. We'll give you a call later.
    .sidebar
        .leftBox_whychoose
            #head
                img(src='/images/title_whyChoose.jpg', alt='Why Choose us')
            #mid
                ul
                    li Affordable dental care that won’t break the bank
                    li High quality general and cosmetic dentistry
                    li Expert, highly experienced dentists
                    li Approachable, friendly team
                    li Modern, clean facilities
                    li Flexible opening times
                    li Convenient location
            #bottom

link(href='/vendor/jquery.datetimepicker.css', rel='stylesheet', type='text/css')
script(src='/vendor/jquery.js')
script(src='/vendor/jquery.datetimepicker.js')
script.
    $('#datetimepicker').datetimepicker({
        format:'Y-m-d H:i',
        minTime:"06:00",
        maxTime:"20:00"
    });
