---
layout: 'default'
title: 'Contact Us | Dentists in Old Kent Road Dental London SE1'
banner: '/images/banner_contact.jpg'
description: 'High Quality Affordable NHS Dental Care in London SE1, Elephant & Castle, London Bridge'
keywords: 'contact, tooth, teeth, denstists, dentist london se1, old kent road, elephant & castle, NHS dentistry, Lambeth, dentist south east london'
---

.container
    .content
        h1 Contact Us
        p
            | Old Kent Road Dental Studio
            br
            | 268a Old Kent Road
            br
            | London
            br
            | SE1 5UB
            br
        h2 Tel: 020 7701 7878
        h2 Public transport
        #contact_tube
            | The closest tube to our practice is
            br
            | Elephant and Castle
        #contact_overground
            | The nearest overland station to our practice is
            br
            | Elephant and Castle or London Bridge
        #contact_bus
            | The following buses pass by our practice
            br
            | 21, 168, 63, 172, 453
        table(width='250', border='1')
            td(colspan='2')
                h3 Practice hours
            tr
                th(scope='row') Monday
                td 9:30am - 5pm
            tr
                th(scope='row') Tuesday
                td 9:30am - 5pm
            tr
                th(scope='row') Wednesday
                td 9:30am - 5pm
            tr
                th(scope='row') Thursday
                td 9:30am - 5pm
            tr
                th(scope='row') Friday
                td 9:30am - 5pm
            tr
                th(scope='row') Saturday
                td by appointment
            tr
                th(scope='row') Sunday
                td closed
    .sidebar
        iframe(width='330', height='330', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='http://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=dentist+southwark+london+se1&sll=51.480421,-0.063171&sspn=0.079325,0.172863&ie=UTF8&hq=dentist&hnear=Southwark,+Greater+London,+United+Kingdom&z=14&iwloc=A&cid=3678188552504343819&ll=51.489268,-0.079276&output=embed')
        br
        small
            a(href='http://maps.google.co.uk/maps?f=q&source=embed&hl=en&geocode=&q=dentist+southwark+london+se1&sll=51.480421,-0.063171&sspn=0.079325,0.172863&ie=UTF8&hq=dentist&hnear=Southwark,+Greater+London,+United+Kingdom&z=14&iwloc=A&cid=3678188552504343819&ll=51.489268,-0.079276', style='color: #0000FF; text-align: left;') View Larger Map
        //<iframe width="330" id="google_box" height="330" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=118131722770719981701.0004706c8fb28d6d2c106&amp;ll=51.490215,-0.079222&amp;spn=0.004409,0.007081&amp;z=16&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;msa=0&amp;msid=118131722770719981701.0004706c8fb28d6d2c106&amp;ll=51.490215,-0.079222&amp;spn=0.004409,0.007081&amp;z=16&amp;source=embed" style="color:#0000FF;text-align:left">Old Kent Road Dental Studio</a> in a larger map</small>
        br
        br
        .green_btn
            a(href='/booking')
                img(src='/images/btn_bookOnline.jpg', alt='Book Online', width='183', height='37')
        .leftBox_script(style="padding-left: 15px;")
            .emailGreen_btn
                span
                    script.
                        mail("info","se1-dentist",10,"","Email us here")