!!! transitional
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        link(href='css/global.css', rel='stylesheet', type='text/css')
        script(src='js/email.js')
        //if IE
        style.
            div { behavior: url(includes/iepngfix.htc)}
        //if gt IE 6
        link(href='css/ie.css', rel='stylesheet', type='text/css')
        //if IE 6
        link(href='css/ie6.css', rel='stylesheet', type='text/css')
        title Cosmetic Dentistry | Cosmetic Dentist in Old Kent Road London SE1
        meta(name='description', content='At Old Kent Road Dental Studio Cosmetic Dentist aim, is to provide you with a smile you will be proud to show off, and in so doing, help increase your self-confidence and self esteem. Based in London SE1, Elephant & Castle, London Bridge')
        meta(name='keywords', content='cosmetic dentistry, white fillings, inlays and onlays, teeth whitening, tooth whitening, crowns and bridges, veneers, dentures, stained discoloured teeth, missing teeth, uneven teeth gaps, fillings, white fillings, cracked teeth, transparent teeth, crooked teeth, crossed over teeth, denstists, dentist london se1, old kent road, elephant & castle, cosmetic dentistry, cosmetic, crowns and bridges, ceramic, cosmeticdentists, cosmetic dentistry, cosmeticdentistry, Bermondsey dentist, rotherhithe dentist, camberwell dentist, victoria dentist, south lambeth dentist, kennington dentist')
    body
        .layout_top
        .global_wrap
            .global_header
                .logo
                    a(href='index.html')
                        a(href='index.html')
                            img(src='images/logo.gif', border='0')
                .top_right
                    #phone_no
                        img(src='images/phone.jpg', alt='call us on:020 7701 7878', width='184', height='46')
                    br
                    a(href='booking.html')
                        img(src='images/btn_bookAppointemt.jpg', alt='Book appointment', width='208', height='41')
                .global_topNavigation
                    ul#top
                        li
                            a(href='index.html')
                            | HOME
                        li
                            a(href='about-us.html')
                            | ABOUT US
                        li
                            a(href='nhs-private-dentistry.html')
                            | NHS V PRIVATE DENTISTRY
                        li
                            a(href='fee-guide.html')
                            | FEE GUIDE
                    ul
                        li
                            a(href='general-dental-care.html')
                            | GENERAL DENTAL CARE
                        li COSMETIC DENTISTRY
                        li
                            a(href='special-offers.html')
                            | SPECIAL OFFERS
                        li
                            a(href='contact-us.html')
                            | CONTACT US
            .banner
                img(src='images/banner_cosmeticDentistry.jpg', alt='cosmetic Dentistry')
            .global_content
                table(width='98%', border='0', cellpadding='00', cellspacing='0')
                    tr
                        td(width='61%', rowspan='2', valign='top')
                            //
                            <img src="images/header_cosmeticDentistry.jpg" alt="Cosmetic Dentistry" width="169" height="23" /><br />
                            h1 Cosmetic Dentistry
                            p
                                | At Old Kent Road Dental Studio, we fully appreciate the importance of a
                                | healthy and attractive smile. It is our aim to provide you with a smile you will be proud to show off, and in so doing, help increase your self-confidence and self esteem.
                            p
                                | Tailored to all needs and budget, we offer a comprehensive range of
                                | cosmetic dental treatments that include; white fillings, teeth whitening,
                                | crowns and bridges, veneers.
                            p
                                | If you suffer a lack of confidence resulting from any of the following, you
                                | may wish to consider cosmetic dentistry:
                                ul
                                    li
                                        | Stained/ discoloured teeth
                                    li
                                        | Missing teeth
                                    li
                                        | Uneven teeth/ gaps
                                    li
                                        | Unsightly fillngs, crowns or bridges
                                    li
                                        | Cracked/ transparent teeth
                                    li
                                        | Crossed over/ crooked teeth
                            | If you are unsure about whether cosmetic dentistry is for you, why not book a FREE, no obligation consultation, or ask your dentist the next time you visit.
                        td(width='39%', align='right', valign='top')
                            .leftBox_cosmeticDentalTreatments
                                #head
                                    img(src='images/boxTitle_OurCosmeticDentalTreatments.jpg', alt='Why Choose us')
                                #mid
                                    table(width='100%', height='161', border='0', cellpadding='00', cellspacing='0')
                                        tr
                                            td(height='30', valign='middle')
                                                a(href='white-fillings.html') White Fillings
                                        tr
                                            td(height='30', valign='middle', bgcolor='#DDEFF1')
                                                a(href='inlays-onlays.html') Inlays & Onlays
                                        tr
                                            td(height='30', valign='middle')
                                                a(href='teeth-whitening.html') Teeth Whitening
                                        tr
                                            td(height='30', valign='middle', bgcolor='#DDEFF1')
                                                a(href='all-ceramic-crowns-bridges.html') Crowns & Bridges
                                        tr
                                            td(height='30', valign='middle')
                                                a(href='veneers.html') Veneers
                                        tr
                                            td(height='20', valign='bottom', bgcolor='#DDEFF1')
                                                a(href='dentures.html') Dentures
                                #bottom
                            br
                            .green_btn2
                                a(href='teeth-whitening.html')
                                    img(src='images/btn_Zoom!TeethWhitening.jpg', alt='Zoom 1 Hour Teeth Whitening In Surgery')
                            .green_btn
                                img(src='images/btn_freeCosmeticConsultation.jpg', alt='Free Cosmetic Consultancy')
                            #lessPadding.green_btn
                                img(src='images/btn_0Finance.jpg', alt='0 Finance Available', width='155', height='54')
                    tr
                        td(align='right')
        .global_footer
            #address
            .box_wrap
                p
                    b
                        | Old Kent Road Dental Studio, 268a Old Kent Road, London, SE1 5UB Tel: 020 7701 7878
                    br
                    br
                    span#bottom_link
                        a(href='general-dental-care.html') General dental care at NHS prices
                        | |
                        a(href='cosmetic-dentistry.html') Cosmetic dental treatments to suit all needs and budgets
                        | |
                        a(href='contact-us.html') Dentist Old Kent Road
                        | |
                        a(href='contact-us.html')
                            | Dentist London
                            br
                            | Bridge
                        | |
                        a(href='contact-us.html') Dentist SE1
                        | |
                        a(href='contact-us.html') Dentist Southwark
                        | |
                        a(href='contact-us.html') Dentist Tower Bridge
                        | |
                        a(href='contact-us.html') Dentist Bermondsey
                        | |
                        a(href='contact-us.html') Dentist Peckham
                        | |
                        a(href='contact-us.html') Dentist Elephant and Castle
                    br
                    br
                    span#rights
                        | © Copyright 2012 Old Kent Road Dental Studio. All Rights Reserved. | Old Kent Road Dental Studio is a Limited company registered in England and Wales
                p
                    a(href='http://www.matthewandpritchard.co.uk/dental_marketing.php') Dental Marketing & Web Design
                    | by Matthew & Pritchard
            #more
                .box_wrap
                    h1 General and Cosmetic Dentist in Southwark, SE1
                    p
                        | It can be difficult to find an understanding and reliable dentist, which is why at Old Kent Road Dental Studio, 268a, Southwark SE1 5UB, we believe in ensuring that visiting a dentist is a reassuring and positive experience. Looking for a  dentist in Southwark SE1or a private dental care at NHS prices or simply a Cosmetic Dentist, Elephant and Castle, London Bridge then look no further than your SE1-Dentist, the Old Kent Road Dental Studio is local to you and can help.
                    h2 Cosmetic Dentistry in Southwark, London SE1 and surrounding areas:
                    p
                        | Old Kent Road Dental Care is a general and cosmetic dentists offering not only Cosmetic Smile Makeovers but also advanced state of the art
                        a(href='general-dental-care.html') General Dentistry
                        | in Southwark, London. Old Kent Road Dental Care is a private dentist practice, but with near NHS pricing for this affordable high quality dental service in Elephant and Castle, near London Bridge and the City of London. We offer affordable private dentistry in a calm and friendly environment.
                    p
                        | See our before and after cases through the
                        a(href='cosmetic-dentistry.html') cosmetic dentistry
                        | section of this website. Looking for experts in cosmetic dentistry at affordable NHS prices? Look no further.
                        | Whether you live or work in any of the following areas,
                        a(href='../contact-us.html') SE1, EC2, SE11, SE17
                        | Old Kent Road Dental Studio will be able to provide the highest standard in affordable general and cosmetic private dental treatments from dental implants, restorative dentistry,
                        a(href='veneers.html') veneers
                        | ,
                        a(href='../inlays-onlays.html') inlays and onlays
                        | ,
                        a(href='../white-fillings.html') white fillings
                        | (replacing silver fillings),
                        a(href='../teeth-whitening.html') Teeth whitening
                        | ,
                        a(href='../all-ceramic-crowns-bridges.html') crowns and bridges
                        | and
                        a(href='../dentures.html') dentures
                        | .
                    p
                        | Old Kent Road Dental Studio
                        a(href='../index.html') (www.se1-dentist.co.uk)
                        | will provide an efficient, timely service for all of your general private dentistry needs, so if you're working in The City and have a short amount of time in which to visit your dentist, the dental team at se1-dentists will not delay you with long waiting times and provide appointment times to suit you and work around your possible hectic lifestyle.
                    h2
                        a(href='../teeth-whitening.html') Tooth Whitening
                        | at Elephant & Castle, London Bridge and even Canary Wharf:
                    p
                        | Located on the famous Old Kent Road in London SE1, the Old Kent Road Dental Studio is within walking distance of the major stations of London Bridge and Elephant & Castle utilizing both national rail and the tube lines; bakerloo, northern and jubilee (we are a Canary Wharf dentist option). With this access from the main train services getting your teeth whitened during even your lunch hour or coming in to pick up your
                        a(href='../teeth-whitening.html') take home teeth whitening kit
                        | is certainly an option - we look forward to seeing you.
                    h2
                        a(href='../nhs-private-dentistry.html') Private v NHS Dentist London SE1
                        | :
                    p
                        | At
                        a(href='../index.html') www.se1-dentist.co.uk
                        | we pride ourselves on being able to offer affordable dental treatments at near NHS prices with a service that is unrivalled in the local area. Please feel free to take a
                        a(href='../tour-of-our-practice.html') tour of our practice
                        | and
                        a(href='../about-us.html') meet the dental team
                        | at
                        a(href='../index.html') SE1-dentist.co.uk
                        | .
                    p
                        | For any further questions, please get in touch by phone
                        a(href='../contact-us.html') 020 7701 7878
                        | or by
                        a(href='../booking.html') booking a dental appointment online
                        | .
                    p
                        | We looking forward to hearing from you and making your smile healthier and more attractive with the best in general and cosmetic private dental care.
            script.
                var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
                document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            script.
                try {
                var pageTracker = _gat._getTracker("UA-10327722-1");
                pageTracker._trackPageview();
                } catch(err) {}
