---
layout: 'default'
title: 'Cosmetic Dentistry | Cosmetic Dentist in Old Kent Road London SE1'
banner: '/images/banner_cosmeticDentistry.jpg'
description: 'At Old Kent Road Dental Studio Cosmetic Dentist aim, is to provide you with a smile you will be proud to show off, and in so doing, help increase your self-confidence and self esteem. Based in London SE1, Elephant & Castle, London Bridge'
keywords: 'cosmetic dentistry, white fillings, inlays and onlays, teeth whitening, tooth whitening, crowns and bridges, veneers, dentures, stained discoloured teeth, missing teeth, uneven teeth gaps, fillings, white fillings, cracked teeth, transparent teeth, crooked teeth, crossed over teeth, denstists, dentist london se1, old kent road, elephant & castle, cosmetic dentistry, cosmetic, crowns and bridges, ceramic, cosmeticdentists, cosmetic dentistry, cosmeticdentistry, Bermondsey dentist, rotherhithe dentist, camberwell dentist, victoria dentist, south lambeth dentist, kennington dentist'
---

table(width='98%', border='0', cellpadding='00', cellspacing='0')
    tr
        td(width='61%', rowspan='2', valign='top')
            h1 Cosmetic Dentistry
            p.
                At Old Kent Road Dental Studio, we fully appreciate the importance of a
                healthy and attractive smile. It is our aim to provide you with a smile you will be proud to show off, and in 
                so doing, help increase your self-confidence and self esteem.
            p.
                Tailored to all needs and budget, we offer a comprehensive range of
                cosmetic dental treatments that include; white fillings, teeth whitening,
                crowns and bridges, veneers.
            p
                span.
                    If you suffer a lack of confidence resulting from any of the following, you
                    may wish to consider cosmetic dentistry:
                ul
                    li Stained/ discoloured teeth
                    li Missing teeth
                    li Uneven teeth/ gaps
                    li Unsightly fillngs, crowns or bridges
                    li Cracked/ transparent teeth
                    li Crossed over/ crooked teeth
                span.
                   If you are unsure about whether cosmetic dentistry is for you, why not book a FREE, no obligation 
                   consultation, or ask your dentist the next time you visit.
        td(width='39%', align='right', valign='top')
            .leftBox_cosmeticDentalTreatments
                #head
                    img(src='/images/boxTitle_OurCosmeticDentalTreatments.jpg', alt='Why Choose us')
                #mid
                    table(width='100%', height='161', border='0', cellpadding='00', cellspacing='0')
                        tr
                            td(height='30', valign='middle')
                                a(href='/white-fillings') White Fillings
                        tr
                            td(height='30', valign='middle', bgcolor='#DDEFF1')
                                a(href='/inlays-onlays') Inlays & Onlays
                        tr
                            td(height='30', valign='middle')
                                a(href='/teeth-whitening') Teeth Whitening
                        tr
                            td(height='30', valign='middle', bgcolor='#DDEFF1')
                                a(href='/all-ceramic-crowns-bridges') Crowns & Bridges
                        tr
                            td(height='30', valign='middle')
                                a(href='/veneers') Veneers
                        tr
                            td(height='20', valign='bottom', bgcolor='#DDEFF1')
                                a(href='/dentures') Dentures
                #bottom
            br
            .green_btn2
                a(href='/teeth-whitening') Zoom! 1hour Power Whitening £299*
            .green_btn
                img(src='/images/btn_freeCosmeticConsultation.jpg', alt='Free Cosmetic Consultancy')
            #lessPadding.green_btn
                img(src='/images/btn_0Finance.jpg', alt='0 Finance Available', width='155', height='54')
    tr
        td(align='right')