---
layout: 'default'
title: 'Dentures | Dentists in Old Kent Road Dental London SE1'
banner: '/images/banner_cosmeticDentistry.jpg'
description: 'Dentures in London SE1, Elephant & Castle, London Bridge'
keywords: 'dentures se1, tooth, teeth, false teeth, denstists, dentist london se1, old kent road, elephant & castle, cosmetic dentistry, cosmetic'
---

table(width='98%', border='0', cellpadding='00', cellspacing='0')
    tr
        td(width='61%', rowspan='2', valign='top')
            h1 Dentures
            p
                | At Old Kent Road Dental Studio, we believe that wearing dentures should
                | not prevent you from having the confidence of a natural, healthy looking
                | smile.
            p
                | Working closely with our dental technician, we use high quality materials
                | and new techniques to create natural looking dentures that fit and work
                | comfortably.
            h2 How soon after extractions can I have dentures fitted?
            p
                | Immediate dentures can be fitted on the day of the extractions. However,
                | these immediate dentures will need modifying, re-lining or replacing
                | within the first 6 months due to the changes that will take place in your
                | gums after extraction. Your dentist will be able to advise you further.
            h2 How long will it take to get accustomed to my new dentures?
            p
                | Some people will get used to them very quickly; for others it will take a little
                | longer. It is often helpful to use a denture fixative for the first few weeks.
            h2 How do I need to clean my dentures?
            p
                | You should clean your dentures twice a day and will need to remove your
                | dentures before cleaning. You can either brush them with a denture brush
                | and toothpaste or a soft nail brush and soap. It is also recommended to
                | soak them regularly in a special cleaning solution.
                br
                | Even with full dentures, you still need to take good care of your mouth.
                | Every morning and evening, brush your gums, tongue and the roof of your
                | mouth with a soft-bristled brush. This removes plaque and helps the circulation
                | in your mouth. If you wear partial dentures, it is even more important
                | that you brush your teeth thoroughly every day. This will help stop tooth
                | decay and gum disease that can lead to you losing more of your teeth.
            h2 Will my dentures stay in position?
            p
                | Well-designed dentures should stay firmly in place and fit your gums
                | comfortably. However, due to the changes in your mouth, dentures may
                | over time become loose or start slipping. If this happens you should
                | consult your dentist. A fixative cream can be used to hold the dentures in
                | place but not for an extended period of time.
            h2 Should I wear my dentures to bed?
            p
                | It is recommended not to wear your dentures when sleeping. Taking out
                | the dentures will allow your mouth and gums to rest. Make sure to keep
                | your dentures in a moist environment whilst out of the mouth to stop
                | them from drying out.
            h2 When should I replace my dentures?
            p
                | You will probably need to renew your dentures every five years to reflect
                | changes in the mouth throughout life. Ill-fitting or broken dentures are not
                | only uncomfortable but can affect the mouth or jaw joints.
        td(width='39%', align='right', valign='top')
            .leftBox_cosmeticDentalTreatments
                #head
                    img(src='/images/boxTitle_OurCosmeticDentalTreatments.jpg', alt='Why Choose us')
                #mid
                    table(width='100%', height='161', border='0', cellpadding='00', cellspacing='0')
                        tr
                            td(height='28', valign='middle')
                                a(href='/white-fillings') White Fillings
                        tr
                            td(height='28', valign='middle', bgcolor='#DDEFF1')
                                a(href='/inlays-onlays') Inlays & Onlays
                        tr
                            td(height='28', valign='middle')
                                a(href='/teeth-whitening') Teeth Whitening
                        tr
                            td(height='28', valign='middle', bgcolor='#DDEFF1')
                                a(href='/all-ceramic-crowns-bridges') Crowns & Bridges
                        tr
                            td(height='28', valign='middle')
                                a(href='/veneers') Veneers
                        tr
                            td(height='20', valign='bottom', bgcolor='#DDEFF1')
                                a(href='/dentures') Dentures
                #bottom
            br
            img(src='/images/befornAfter_dentures.png', alt='Natural looking dentures in place', width='212', height='148')
            br
            br
            .green_btn
                img(src='/images/btn_Dentures.jpg', alt='Dentures')
    tr
        td(align='right', valign='top')
            br
            br