!!! transitional
html(xmlns='http://www.w3.org/1999/xhtml')
head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(href='css/global.css', rel='stylesheet', type='text/css')
    script(language='javascript', src='js/email.js')
    title Dentures | Dentists in Old Kent Road Dental London SE1
    meta(name='description', content='Dentures in London SE1, Elephant & Castle, London Bridge')
    meta(name='keywords', content='dentures se1, tooth, teeth, false teeth, denstists, dentist london se1, old kent road, elephant & castle, cosmetic dentistry, cosmetic')
    body
        .layout_top
        .global_wrap
            .global_header
                .logo
                    a(href='index.thml')
                        a(href='index.thml')
                            img(src='images/logo.gif', border='0')
                .top_right
                    #phone_no
                        img(src='images/phone.jpg', alt='call us on:020 7701 7878', width='184', height='46')
                    br
                    a(href='booking.html')
                        img(src='images/btn_bookAppointemt.jpg', alt='Book appointment', width='208', height='41')
                .global_topNavigation
                    ul#top
                        li
                            a(href='index.thml')
                            | HOME
                        li
                            a(href='about-us.html')
                            | ABOUT US
                        li
                            a(href='nhs-private-dentistry.html')
                            | NHS V PRIVATE DENTISTRY
                        li
                            a(href='fee-guide.html')
                            | FEE GUIDE
                    ul
                        li
                            a(href='general-dental-care.html')
                            | GENERAL DENTAL CARE
                        li
                            a(href='cosmetic-dentistry.html')
                            | COSMETIC DENTISTRY
                        li
                            a(href='special-offers.html')
                            | SPECIAL OFFERS
                        li
                            a(href='contact-us.html')
                            | CONTACT US
            .banner
                img(src='images/banner_cosmeticDentistry.jpg', alt='cosmetic Dentistry')
            .global_content
                table(width='98%', border='0', cellpadding='00', cellspacing='0')
                    tr
                        td(width='61%', rowspan='2', valign='top')
                            //<img src="images/header_dentures.jpg" alt="Dentures" />
                            h1 Dentures
                            p
                                | At Old Kent Road Dental Studio, we believe that wearing dentures should
                                | not prevent you from having the confidence of a natural, healthy looking
                                | smile.
                            p
                                | Working closely with our dental technician, we use high quality materials
                                | and new techniques to create natural looking dentures that fit and work
                                | comfortably.
                            //<br />
                            //<p><img src="images/header_dentures_howSoonAfterExtraction.jpg" alt="How soon after extractions can I have dentures fitted?" /><br />
                            h2 How soon after extractions can I have dentures fitted?
                            p
                                | Immediate dentures can be fitted on the day of the extractions. However,
                                | these immediate dentures will need modifying, re-lining or replacing
                                | within the first 6 months due to the changes that will take place in your
                                | gums after extraction. Your dentist will be able to advise you further.
                            //<br />
                            //<p><img src="images/header_dentures_howLongWillItTake.jpg" alt="How long will it take to get accustomed to my new dentures?" /><br />
                            h2 How long will it take to get accustomed to my new dentures?
                            p
                                | Some people will get used to them very quickly; for others it will take a little
                                | longer. It is often helpful to use a denture fixative for the first few weeks.
                            //<br />
                            //<p><img src="images/header_dentures_howDoINeedToClean.jpg" alt="How do I need to clean my dentures?" /><br />
                            h2 How do I need to clean my dentures?
                            p
                                | You should clean your dentures twice a day and will need to remove your
                                | dentures before cleaning. You can either brush them with a denture brush
                                | and toothpaste or a soft nail brush and soap. It is also recommended to
                                | soak them regularly in a special cleaning solution.
                                br
                                | Even with full dentures, you still need to take good care of your mouth.
                                | Every morning and evening, brush your gums, tongue and the roof of your
                                | mouth with a soft-bristled brush. This removes plaque and helps the circulation
                                | in your mouth. If you wear partial dentures, it is even more important
                                | that you brush your teeth thoroughly every day. This will help stop tooth
                                | decay and gum disease that can lead to you losing more of your teeth.
                            //<br />
                            //<p><img src="images/header_dentures_willMyDenturesStay.jpg" alt="Will my dentures stay in position?" /><br />
                            h2 Will my dentures stay in position?
                            p
                                | Well-designed dentures should stay firmly in place and fit your gums
                                | comfortably. However, due to the changes in your mouth, dentures may
                                | over time become loose or start slipping. If this happens you should
                                | consult your dentist. A fixative cream can be used to hold the dentures in
                                | place but not for an extended period of time.
                            //<br />
                            //<p><img src="images/header_dentures_shouldIWhare.jpg" alt="Should I wear my dentures to bed?" /><br />
                            h2 Should I wear my dentures to bed?
                            p
                                | It is recommended not to wear your dentures when sleeping. Taking out
                                | the dentures will allow your mouth and gums to rest. Make sure to keep
                                | your dentures in a moist environment whilst out of the mouth to stop
                                | them from drying out.
                            //<br />
                            //<p><img src="images/header_dentures_whenShouldIreplace.jpg" alt="When should I replace my dentures?" /><br />
                            h2 When should I replace my dentures?
                            p
                                | You will probably need to renew your dentures every five years to reflect
                                | changes in the mouth throughout life. Ill-fitting or broken dentures are not
                                | only uncomfortable but can affect the mouth or jaw joints.
                        td(width='39%', align='right', valign='top')
                            .leftBox_cosmeticDentalTreatments
                                #head
                                    img(src='images/boxTitle_OurCosmeticDentalTreatments.jpg', alt='Why Choose us')
                                #mid
                                    table(width='100%', height='161', border='0', cellpadding='00', cellspacing='0')
                                        tr
                                            td(height='28', valign='middle')
                                                a(href='white_fillings.php') White Fillings
                                        tr
                                            td(height='28', valign='middle', bgcolor='#DDEFF1')
                                                a(href='inlays-onlays.html') Inlays & Onlays
                                        tr
                                            td(height='28', valign='middle')
                                                a(href='teeth-whitening.html') Teeth Whitening
                                        tr
                                            td(height='28', valign='middle', bgcolor='#DDEFF1')
                                                a(href='all-ceramic-crowns-bridges.html') Crowns & Bridges
                                        tr
                                            td(height='28', valign='middle')
                                                a(href='veneers.html') Veneers
                                        tr
                                            td(height='20', valign='bottom', bgcolor='#DDEFF1')
                                                a(href='dentures.html') Dentures
                                #bottom
                            br
                            img(src='images/befornAfter_dentures.png', alt='Natural looking dentures in place', width='212', height='148')
                            br
                            br
                            .green_btn
                                img(src='images/btn_Dentures.jpg', alt='Dentures')
                    tr
                        td(align='right', valign='top')
                            br
                            br
        .global_footer
            #address
            .box_wrap
                p
                    b
                        | Old Kent Road Dental Studio, 268a Old Kent Road, London, SE1 5UB Tel: 020 7701 7878
                    br
                    br
                    span#bottom_link
                        a(href='general-dental-care.html') General dental care at NHS prices
                        | |
                        a(href='cosmetic-dentistry.html') Cosmetic dental treatments to suit all needs and budgets
                        | |
                        a(href='contact-us.html') Dentist Old Kent Road
                        | |
                        a(href='contact-us.html')
                            | Dentist London
                            br
                            | Bridge
                        | |
                        a(href='contact-us.html') Dentist SE1
                        | |
                        a(href='contact-us.html') Dentist Southwark
                        | |
                        a(href='contact-us.html') Dentist Tower Bridge
                        | |
                        a(href='contact-us.html') Dentist Bermondsey
                        | |
                        a(href='contact-us.html') Dentist Peckham
                        | |
                        a(href='contact-us.html') Dentist Elephant and Castle
                    br
                    br
                    span#rights
                        | © Copyright 2012 Old Kent Road Dental Studio. All Rights Reserved. | Old Kent Road Dental Studio is a Limited company registered in England and Wales
                p
                    a(href='http://www.matthewandpritchard.co.uk/dental_marketing.php') Dental Marketing & Web Design
                    | by Matthew & Pritchard
            #more
                .box_wrap
                    h1 General and Cosmetic Dentist in Southwark, SE1
                    p
                        | It can be difficult to find an understanding and reliable dentist, which is why at Old Kent Road Dental Studio, 268a, Southwark SE1 5UB, we believe in ensuring that visiting a dentist is a reassuring and positive experience. Looking for a  dentist in Southwark SE1or a private dental care at NHS prices or simply a Cosmetic Dentist, Elephant and Castle, London Bridge then look no further than your SE1-Dentist, the Old Kent Road Dental Studio is local to you and can help.
                    h2 Cosmetic Dentistry in Southwark, London SE1 and surrounding areas:
                    p
                        | Old Kent Road Dental Care is a general and cosmetic dentists offering not only Cosmetic Smile Makeovers but also advanced state of the art
                        a(href='general-dental-care.html') General Dentistry
                        | in Southwark, London. Old Kent Road Dental Care is a private dentist practice, but with near NHS pricing for this affordable high quality dental service in Elephant and Castle, near London Bridge and the City of London. We offer affordable private dentistry in a calm and friendly environment.
                    p
                        | See our before and after cases through the
                        a(href='cosmetic-dentistry.html') cosmetic dentistry
                        | section of this website. Looking for experts in cosmetic dentistry at affordable NHS prices? Look no further.
                        | Whether you live or work in any of the following areas,
                        a(href='../contact-us.html') SE1, EC2, SE11, SE17
                        | Old Kent Road Dental Studio will be able to provide the highest standard in affordable general and cosmetic private dental treatments from dental implants, restorative dentistry,
                        a(href='veneers.html') veneers
                        | ,
                        a(href='../inlays-onlays.html') inlays and onlays
                        | ,
                        a(href='../white_fillings.php') white fillings
                        | (replacing silver fillings),
                        a(href='../teeth-whitening.html') Teeth whitening
                        | ,
                        a(href='../all-ceramic-crowns-bridges.html') crowns and bridges
                        | and
                        a(href='../dentures.html') dentures
                        | .
                    p
                        | Old Kent Road Dental Studio
                        a(href='../index.thml') (www.se1-dentist.co.uk)
                        | will provide an efficient, timely service for all of your general private dentistry needs, so if you're working in The City and have a short amount of time in which to visit your dentist, the dental team at se1-dentists will not delay you with long waiting times and provide appointment times to suit you and work around your possible hectic lifestyle.
                    h2
                        a(href='../teeth-whitening.html') Tooth Whitening
                        | at Elephant & Castle, London Bridge and even Canary Wharf:
                    p
                        | Located on the famous Old Kent Road in London SE1, the Old Kent Road Dental Studio is within walking distance of the major stations of London Bridge and Elephant & Castle utilizing both national rail and the tube lines; bakerloo, northern and jubilee (we are a Canary Wharf dentist option). With this access from the main train services getting your teeth whitened during even your lunch hour or coming in to pick up your
                        a(href='../teeth-whitening.html') take home teeth whitening kit
                        | is certainly an option - we look forward to seeing you.
                    h2
                        a(href='../nhs-private-dentistry.html') Private v NHS Dentist London SE1
                        | :
                    p
                        | At
                        a(href='../index.thml') www.se1-dentist.co.uk
                        | we pride ourselves on being able to offer affordable dental treatments at near NHS prices with a service that is unrivalled in the local area. Please feel free to take a
                        a(href='../tour-of-our-practice.html') tour of our practice
                        | and
                        a(href='../about-us.html') meet the dental team
                        | at
                        a(href='../index.thml') SE1-dentist.co.uk
                        | .
                    p
                        | For any further questions, please get in touch by phone
                        a(href='../contact-us.html') 020 7701 7878
                        | or by
                        a(href='../booking.html') booking a dental appointment online
                        | .
                    p
                        | We looking forward to hearing from you and making your smile healthier and more attractive with the best in general and cosmetic private dental care.
            script.
                var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
                document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            script.
                try {
                var pageTracker = _gat._getTracker("UA-10327722-1");
                pageTracker._trackPageview();
                } catch(err) {}
                     