---
layout: 'default'
title: 'Dental Treatment Price List | Dentists in Old Kent Road Dental London SE1'
banner: '/images/banner_freeGuide.jpg'
description: 'Price List for SE1 Dentist. High quality affordable dentistry in London SE1, Elephant & Castle, London Bridge'
keywords: 'denstists, dentist london se1, old kent road, elephant & castle, dentistry lambeth'
---

table(width='98%', border='0', cellpadding='00', cellspacing='0')
    tr
        td(width='61%', rowspan='4', valign='top')
            h1 Fee Guide
            p.
                At Old Kent Road Dental Studio, our aim is to provide,
                high quality private dental care at NHS prices:
            p
                table(width='80%', border='0', cellpadding='0', cellspacing='0')
                    tr
                        td
                        td(align='left')
                    tr
                        td(width='75%'): h2 General Dental Care
                        td(width='25%', align='left')
                    tr
                        td New Patient Exam
                        td(align='left') £20
                    tr
                        td Routine Exam
                        td(align='left') £15
                    tr
                        td  Small X-rays
                        td(align='left')  £5
                    tr
                        td  Scale and Polish
                        td(align='left') £25
                    tr
                        td Root Canal Treatment
                        td(align='left') £100
                    tr
                        td
                        td(align='left')
                    tr
                        td: h2 Cosmetic Dentistry
                        td(align='left', valign='top') 
                    tr
                        td Small Fillings
                        td(align='left') £ 60
                    tr
                        td  Medium Fillings
                        td(align='left') £ 80
                    tr
                        td  Large FIllings
                        td(align='left') £ 100
                    tr
                        td  Inlays & Onlays
                        td(align='left') £ 200
                    tr
                        td  Teeth Whitening (Take Home)
                        td(align='left') £ 199*
                    tr
                        td  Zoom!   1-Hour Power Teeth Whitening
                        td(align='left') £ 299*
                    tr
                        td  Porcelain Bonded Crown
                        td(align='left') £ 200
                    tr
                        td  All Ceramic Crown
                        td(align='left') £ 350
                    tr
                        td  Bridge (per unit)
                        td(align='left') £ 200
                    tr
                        td  Veneers (per unit)
                        td(align='left') £ 250
                    tr
                        td  Acrylic Dentures (per jaw)
                        td(align='left') £ 300
                    tr
                        td Cobalt Chrome Dentures (per jaw)
                        td(align='left') £ 390
                    tr
                        td
                        td(align='left')
                    tr
                        td
                            h2 Botulinum Toxin
                        td(align='left', valign='top') 
                    tr
                        td Frown Lines (above nose)
                        td(align='left') £ 150
                    tr
                        td Forehead (Complete)
                        td(align='left') £ 250
                    tr
                        td Crows Feet
                        td(align='left') £ 175
                    tr
                        td Forehead and Crows Feet
                        td(align='left') £ 300
                    tr
                        td Neck and Lower Face
                        td(align='left') £ 350
                    tr
                        td Armpits per Armpit (Excessive Sweating)
                        td(align='left') £ 300
                    tr
                        td
                        td(align='left')
                    tr
                        td
                            h2 Dermal Fillers
                        td(align='left', valign='top') 
                    tr
                        td Lips upper only
                        td(align='left') £ 285
                    tr
                        td Lips lower only
                        td(align='left') £ 285
                    tr
                        td Upper and Lower Lips
                        td(align='left') £ 500
                    tr
                        td Nose to Mouth Lines (charges per side)
                        td(align='left') £ 285
            | *For a limited period only
        td(width='39%', align='right', valign='top')
            .leftBox_whychoose
                #head
                    img(src='/images/title_whyChoose.jpg', alt='Why Choose us')
                #mid
                    ul
                        li Affordable dental care that won’t break the bank
                        li High quality general and cosmetic dentistry
                        li Expert, highly experienced dentists
                        li Approachable, friendly team
                        li Modern, clean facilities
                        li Flexible opening times
                        li Convenient location
                #bottom
            .green_btn New Patient exam £20
            .green_btn2
                a(href='/teeth-whitening') Zoom! 1hour Power Whitening £299*
            .tour_of_practice
                a(href='/tour-of-our-practice')                                                                   
                    | Take a Tour of our Practice
                    br
                    | -Click Here-
    tr
        td(align='right')
    tr
        td(align='right')