---
layout: 'default'
title: 'Dental Treatment Price List | Dentists in Old Kent Road Dental London SE1'
banner: '/images/banner_freeGuide.jpg'
description: 'Price List for SE1 Dentist. High quality affordable dentistry in London SE1, Elephant & Castle, London Bridge'
keywords: 'denstists, dentist london se1, old kent road, elephant & castle, dentistry lambeth'
---

.container
    .content
        h1 Fee Guide
        h4 Updated April 2014
        p.
            At Old Kent Road Dental Studio, our aim is to provide,
            high quality private dental care at NHS prices:
        p
            table(width='80%', border='0', cellpadding='0', cellspacing='0')
                tr
                    td
                    td(align='left')
                tr
                    td(width='75%'): h2 General Dental Care
                    td(width='25%', align='left')
                tr
                    td New Patient Exam
                    td(align='left') £ 25
                tr
                    td Scale and Polish
                    td(align='left') £ 30
                tr
                    td Prophyjet extended scale and polish
                    td(align='left')  £ 50
                tr
                    td Routine examination and scale and polish
                    td(align='left') £ 35
                tr
                    td
                    td(align='left')
                tr
                    td: h2 Cosmetic Dentistry
                    td(align='left') 
                tr
                    td Fillings
                    td(align='left') from £ 60
                tr
                    td Yellow or White gold crowns
                    td(align='left') from £ 220
                tr
                    td Porcelain bonded crowns
                    td(align='left') from £ 250
                tr
                    td &nbsp;
                    td(align='left')
                tr
                    td Emax metal free crowns
                    td(align='left')
                tr
                    td  - ( Anterior )
                    td(align='left') £ 450  
                tr
                    td  - ( Posterior )
                    td(align='left') £ 400 
                tr
                    td &nbsp;
                    td(align='left')
                tr
                    td Emax Veneers (per tooth)
                    td(align='left') £ 350  
                tr
                    td Composite Veneers (per tooth)
                    td(align='left') £ 200
                tr
                    td Bridges
                    td(align='left') *
                tr
                    td Dentures
                    td(align='left') from £ 300
                tr
                    td Tooth whitening
                    td(align='left') from £ 250
                tr
                    td
                    td(align='left')
                tr
                    td
                        h2 Extractions
                    td(align='left') 
                tr
                    td Extractions
                    td(align='left')
                tr
                    td - ( Standard )
                    td(align='left') £ 100 
                tr
                    td - ( Surgical )
                    td(align='left') £ 250 
                tr
                    td Wisdom tooth extraction
                    td(align='left') *
                tr
                    td
                    td(align='left')
                | * - Price on Application
    .sidebar
        .leftBox_whychoose
            #head
                img(src='/images/title_whyChoose.jpg', alt='Why Choose us')
            #mid
                ul
                    li Affordable dental care that won’t break the bank
                    li High quality general and cosmetic dentistry
                    li Expert, highly experienced dentists
                    li Approachable, friendly team
                    li Modern, clean facilities
                    li Flexible opening times
                    li Convenient location
            #bottom
        .green_btn New Patient exam £25
        .tour_of_practice
            a(href='/tour-of-our-practice')                                                                   
                | Take a Tour of our Practice
            a(href='/tour-of-our-practice')  
                | -Click Here-