---
layout: 'default'
title: 'General Dental care | SE1 Dentist Old Kent Road Dental Studio London SE1'
banner: '/images/banner_home.jpg'
description: 'High Quality and affordable NHS and General Dental care in London SE1'
keywords: 'oral health, general dental care dentist london se1, old kent road, central london denist, city dentist, south east london dentist, southwark dentist, south london dentist, lambeth dentist, se dentist'
---

table(width='98%', border='0', cellpadding='00', cellspacing='0')
    tr
        td(width='61%', rowspan='4', valign='top')
            h1 General Dental Care
            p.
                At Old Kent Road Dental Studio, we believe in providing professional, high
                quality dental care for your long term benefit.
            p.
                Healthy teeth and gums are the key to a smile that not only looks good, but
                makes you feel great too. It’s not just about being comfortable and
                avoiding dental problems, it’s also about enjoying total freshness and the
                extra confidence, which comes from your ultimate smile.
            p.
                Our emphasis at Old Kent Road Dental Studio is to help you achieve,
                and maintain, a healthy smile for life.
            h2 Dental examinations
            p.
                With routine dental examinations, regular hygiene treatment and by
                looking after your oral health on a daily basis, you can help avoid the
                traditional pattern of fillings and extractions.
            h2 Hygiene treatment
            p.
                With hygiene treatment, we will professionally clean your teeth  to remove
                unsightly staining caused by tea, coffee or red wine, along with hard
                deposits [tartar or calculus] that no amount of brushing will shift. You will
                also be advised about brushing and flossing techniques that will help keep
                harmful bacteria at bay.
            h2 Children's dentistry
            p.
                We offer a full assessment of your child’s oral health so we can help you to
                look after your child’s teeth and prevent dental disease. We believe
                dentistry should be a positive experience for all the family and we place
                great emphasis in making visits to the dentist relaxed, friendly and fun.
        td(width='39%', align='right', valign='top')
            .leftBox_whychoose
                #head
                    img(src='/images/boxTitle_topTips.jpg', alt='Tips for a healthy smile', width='184', height='18')
                #mid
                    ul
                        li Brush for 2 minutes at least twice a day
                        li Remember to concentrate on the area where the teeth meet the gums
                        li Use dental floss to clean between your teeth
                        li Make sure you have regular dental check-ups
                        li Avoid frequent consumption of fizzy drinks and sugary foods
                #bottom
            .green_btn New Patient exam £25
            .green_btn(style="font-size:1.3em") Brown Electrict Toothbrush only £39.99
    tr
        td(align='right')
    tr
        td(align='right')