---
layout: 'default'
title: 'Dentist London SE1 | Dentist Elephant and Castle | NHS Dentist Southwark'
banner: 'images/banner_generalCare.jpg'
---

h1 Welcome to Old Kent Road Dental Studio, your new SE1 dentist in Southwark, for high quality private dental care at NHS prices.
p
    | As a new dental practice, with a friendly team and clean, modern facilities,
    | our aim is to provide affordable, high quality general dental care and cosmetic dentistry in London SE1.
p
    | Passionate about what we do, we are a team of approachable, highly
    | experienced and highly trained dental professionals, keen to do our best to
    | help our patients smile with confidence, in a way that won’t break your
    | pocket… or the bank!
p
    | With flexible opening hours, free parking and just 5 minutes from
    | Elephant & Castle tube station or 15 minutes from London Bridge SE1, it is
    | now easy to get to visit your dentist, whether you live or work locally… or whether you
    | simply just want to join a dental practice with a difference!
p
    :markdown
        Tailored to all needs and budget, we offer general dental care and a
        comprehensive range of cosmetic dental treatments that include
        [white fillings](white_fillings.php ),
        [teeth whitening](teeth_whitening.php),
        [all ceramic crowns and bridges](all_ceramic_crowns_ bridges.php),
        [veneers](veneers.php) and
        [clear braces](cosmetic_dentistry.php) .