---
layout: 'default'
title: 'Dentist London SE1 | Dentist Elephant and Castle | NHS Dentist Southwark'
banner: '/images/banner_generalCare.jpg'
description: 'Private and General Dental care at NHS prices in Old Kent Road. Your New London SE1 dentist in Southwark'
keywords: 'london se1, nhs dentist, private, general, emergency, old kent road, botox, broken teeth, tooth, central, city, south east, southwark, lambeth, se, Bermondsey, rotherhithe, camberwell, victoria, south lambeth, kennington'
---

table(width='98%', border='0', cellpadding='00', cellspacing='0')
    tr
        td(width='61%', rowspan='2', valign='top')
            h1 Welcome to Old Kent Road Dental Studio, your new SE1 dentist in Southwark, for high quality private dental care at NHS prices.
            p
                | As a new dental practice, with a friendly team and clean, modern facilities,
                | our aim is to provide affordable, high quality general dental care and cosmetic dentistry in London SE1.
            p
                | Passionate about what we do, we are a team of approachable, highly
                | experienced and highly trained dental professionals, keen to do our best to
                | help our patients smile with confidence, in a way that won’t break your
                | pocket… or the bank!
            p
                | With flexible opening hours, free parking and just 5 minutes from
                | Elephant & Castle tube station or 15 minutes from London Bridge SE1, it is
                | now easy to get to visit your dentist, whether you live or work locally… or whether you
                | simply just want to join a dental practice with a difference!
            p
                :markdown
                    Tailored to all needs and budget, we offer general dental care and a
                    comprehensive range of cosmetic dental treatments that include
                    [white fillings](/white-fillings ),
                    [teeth whitening](/teeth-whitening),
                    [all ceramic crowns and bridges](/all-ceramic-crowns-bridges),
                    [veneers](/veneers) and
                    [clear braces](/cosmetic-dentistry) .
        td(width='39%', align='right', valign='top')
            .leftBox_whychoose
                #head
                    img(src='/images/title_whyChoose.jpg', alt='Why Choose us at London SE1 Dentist')
                #mid
                    ul
                        li Affordable dental care that won't break the bank
                        li High quality general and cosmetic dentistry
                        li Expert, highly experienced dentists
                        li Approachable, friendly team
                        li Modern, clean facilities
                        li Flexible opening times
                        li
                            a(href='/contact-us') Convenient SE1 location
                #bottom
            .green_btn
                img(src='/images/btn_newPatientExam.jpg', width='149', height='38')
            .green_btn2
                a(href='/teeth-whitening')
                    img(src='/images/btn_Zoom!TeethWhitening.jpg', alt='Zoom! 1 Hour In Surgery Teeth Whitening Offer')
    tr
        td(align='right')
