---
layout: 'default'
title: 'Inlays and onlays | Dentists in Old Kent Road Dental London SE1'
banner: '/images/banner_cosmeticDentistry.jpg'
description: 'Inlays and Onlays in London SE1, Elephant & Castle, London Bridge'
keywords: 'inlays, onlays, se1, tooth, teeth, large cavities, denstists, dentist london se1, old kent road, elephant & castle, cosmetic dentistry, cosmetic'
---

table(width='98%', border='0', cellpadding='00', cellspacing='0')
    tr
        td(width='61%', rowspan='2', valign='top')
            h1 Inlays & Onlays
            p
                | Recommended for larger cavities where a filling may not be suitable, an
                | inlay or onlay is used to repair the tooth’s biting surface and is generally
                | made from a porcelain material which means they are very strong, natural
                | looking and long lasting.
            ul
                li For more comfortable chewing
                li
                    | Made of a strong long lasting material
                li
                    | Natural looking
            h2 How do inlays and onlays differ from each other?
            p
                span.pinkTxt Inlays
                | – are needed when the tooth damage is contained within the tips
                | of the tooth
                br
                span.pinkTxt Onlays
                | – are needed if the damage extends over the tips and covers
                | part of the tooth’s outside surface, but not so extensively as to require
                | a crown
            h2 Are inlays/onlays a more suitable option than other restorations?
            p
                | Dental inlays and onlays are used to repair rear teeth that have
                | experienced mild to moderate amounts of decay. They are also used to
                | restore teeth that are cracked or fractured if the damage is not severe
                | enough to warrant a dental crown or filling. Your dentist will advise which
                | option will be the best for you.
            h2 How long do inlays and onlays last?
            p
                | Inlays and onlays are made of durable composite material that
                | commonly lasts up to 30 years, much longer than the material in conventional
                | metal fillings.
        td(width='39%', align='right', valign='top')
            .leftBox_cosmeticDentalTreatments
                #head
                    img(src='/images/boxTitle_OurCosmeticDentalTreatments.jpg', alt='Why Choose us')
                #mid
                    table(width='100%', height='161', border='0', cellpadding='00', cellspacing='0')
                        tr
                            td(height='28', valign='middle')
                                a(href='/white-fillings') White Fillings
                        tr
                            td(height='28', valign='middle', bgcolor='#DDEFF1')
                                a(href='/inlays-onlays') Inlays & Onlays
                        tr
                            td(height='28', valign='middle')
                                a(href='/teeth-whitening') Teeth Whitening
                        tr
                            td(height='28', valign='middle', bgcolor='#DDEFF1')
                                a(href='/all-ceramic-crowns-bridges') Crowns & Bridges
                        tr
                            td(height='28', valign='middle')
                                a(href='/veneers') Veneers
                        tr
                            td(height='20', valign='bottom', bgcolor='#DDEFF1')
                                a(href='/dentures') Dentures
                #bottom
            br
            script.
                AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','212','height','128','title','inlays','src','/swf/inlays','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','/swf/inlays','wmode','transparent' ); //end AC code
            noscript
                object(classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000', codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0', width='212', height='128', title='inlays')
                    param(name='movie', value='/swf/inlays.swf')
                    param(name='quality', value='high')
                    param(name='wmode', value='transparent')
                    embed(src='/swf/inlays.swf', quality='high', pluginspage='http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash', type='application/x-shockwave-flash', width='212', height='128')
            br
            .green_btn
                img(src='/images/btn_inlays.jpg', alt='inlays')
    tr
        td(align='right', valign='top')