---
layout: 'default'
title: 'NHS V Private Dentistry | Dentists in Old Kent Road Dental London SE1'
banner: '/images/banner_nhsVsPrivate.jpg'
description: 'NHS v Private Dentistry compared in London SE1, Elephant & Castle, London Bridge'
keywords: 'NHS Dentistry v Private Dentistry, denstists, dentist london se1, old kent road, elephant & castle, NHS, Private, Lambeth'
---

table(width='98%', border='0', cellpadding='00', cellspacing='0')
    tr
        td(width='61%', rowspan='2', valign='top')
            h1 NHS vs Private Dentistry
            p.
                  At Old Kent Road Dental Studio our aim is simple: to provide high quality private
                  dental care at NHS prices.
            h2 How does it work?
            p.
                  We charge similar prices to those of NHS dentistry (to non exempt patient) 
                  for dental exams, xrays and NHS equivalent treatments.
                  We then also offer a choice of cosmetic dental treatments to suit all
                  needs and budgets.
            p.
                  As a team of approachable, highly experienced and highly trained dental
                  professionals, we are keen to do our best to help our patients smile with
                  confidence, in a way that won’t break your pocket… or the bank!
            p.
                  Offering the best of both worlds;, we have the freedom of a private
                  dentist to offer natural-looking, long-lasting and high quality treatments
                  and affordable dental care that you can rely upon at all times.
            h2 What is the difference between NHS and Private dentistry?
            p.
                  NHS dentistry has a clinical focus: this includes all treatment necessary
                  to secure and maintain your oral health and, where necessary, to restore
                  function in the most cost effective way possible.
            p.
                  Private dentistry has a clinical focus that is supported by a preventive
                  and aesthetic element: this includes making additional time for dental
                  check-ups, hygiene appointments and restoring teeth in the most
                  minimally evasive and natural-looking way possible.
            p.
                  In brief, both NHS and Private dentistry aim to ensure that you have
                  healthy teeth for life. The main difference between NHS and private
                  dental treatment, is the time and materials you are provided with.
        td(width='39%', align='right', valign='top')
            .leftBox_whychoose
                #head
                    img(src='/images/title_whyChoose.jpg', alt='Why Choose us')
                #mid
                    ul
                        li Affordable dental care that won’t break the bank
                        li High quality general and cosmetic dentistry
                        li Expert, highly experienced dentists
                        li Approachable, friendly team
                        li Modern, clean facilities
                        li Flexible opening times
                        li Convenient location
                #bottom
            .green_btn New Patient exam £25
    tr
        td(align='right')