!!! transitional
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        link(href='css/global.css', rel='stylesheet', type='text/css')
        script(src='js/email.js')
        //if IE
        style.
            div { behavior: url(includes/iepngfix.htc)}
        //if gt IE 6
        link(href='css/ie.css', rel='stylesheet', type='text/css')
        //if IE 6
        link(href='css/ie6.css', rel='stylesheet', type='text/css')
        title NHS V Private Dentistry | Dentists in Old Kent Road Dental London SE1
        meta(name='description', content='NHS v Private Dentistry compared in London SE1, Elephant & Castle, London Bridge')
        meta(name='keywords', content='NHS Dentistry v Private Dentistry, denstists, dentist london se1, old kent road, elephant & castle, NHS, Private, Lambeth')
    body
        .layout_top
        .global_wrap
            .global_header
                .logo
                    a(href='index.html')
                        a(href='index.html')
                            img(src='images/logo.gif', border='0')
                .top_right
                    #phone_no
                        img(src='images/phone.jpg', alt='call us on:020 7701 7878', width='184', height='46')
                    br
                    a(href='booking.php')
                        img(src='images/btn_bookAppointemt.jpg', alt='Book appointment', width='208', height='41')
                .global_topNavigation
                    ul#top
                        li
                            a(href='index.html')
                            | HOME
                        li
                            a(href='about_us.php')
                            | ABOUT US
                        li NHS V PRIVATE DENTISTRY
                        li
                            a(href='fee-guide.html')
                            | FEE GUIDE
                    ul
                        li
                            a(href='general-dental-care.html')
                            | GENERAL DENTAL CARE
                        li
                            a(href='cosmetic-dentistry.html')
                            | COSMETIC DENTISTRY
                        li
                            a(href='special-offers.html')
                            | SPECIAL OFFERS
                        li
                            a(href='contact-us.html')
                            | CONTACT US
            .banner
                img(src='images/banner_nhsVsPrivate.jpg', alt='NHS Vs Private')
            .global_content
                table(width='98%', border='0', cellpadding='00', cellspacing='0')
                    tr
                        td(width='61%', rowspan='2', valign='top')
                            h1 NHS vs Private Dentistry
                            p
                                | At Old Kent Road Dental Studio our aim is simple: to provide high quality private
                                | dental care at NHS prices.
                            h2 How does it work?
                            p
                                | We charge the same price that an NHS dentist would charge (a non
                                | exempt patient) for a dental exam, xrays and NHS equivalent treatments.
                                | We then also offer a choice of cosmetic dental treatments to suit all
                                | needs and budgets.
                            p
                                | As a team of approachable, highly experienced and highly trained dental
                                | professionals, we are keen to do our best to help our patients smile with
                                | confidence, in a way that won’t break your pocket… or the bank!
                            p
                                | Offering the best of both worlds;, we have the freedom of a private
                                | dentist to offer natural-looking, long-lasting and high quality treatments
                                | and affordable dental care that you can rely upon at all times.
                            h2 What is the difference between NHS and Private dentistry?
                            p
                                | NHS dentistry has a clinical focus: this includes all treatment necessary
                                | to secure and maintain your oral health and, where necessary, to restore
                                | function in the most cost effective way possible.
                            p
                                | Private dentistry has a clinical focus that is supported by a preventive
                                | and aesthetic element: this includes making additional time for dental
                                | check-ups, hygiene appointments and restoring teeth in the most
                                | minimally evasive and natural-looking way possible.
                            p
                                | In brief, both NHS and Private dentistry aim to ensure that you have
                                | healthy teeth for life. The main difference between NHS and private
                                | dental treatment, is the time and materials you are provided with.
                                br
                            h2 How much is a NHS dental exam?
                            p
                                | As a non-exempt NHS patient (ie. in full time employment) you will need
                                | to pay £16.50 for a dental examination.
                        td(width='39%', align='right', valign='top')
                            .leftBox_whychoose
                                #head
                                    img(src='images/title_whyChoose.jpg', alt='Why Choose us')
                                #mid
                                    ul
                                        li Affordable dental care that won’t break the bank
                                        li High quality general and cosmetic dentistry
                                        li Expert, highly experienced dentists
                                        li Approachable, friendly team
                                        li Modern, clean facilities
                                        li Flexible opening times
                                        li Convenient location
                                #bottom
                            .green_btn
                                img(src='images/btn_newPatientExam.jpg', width='149', height='38')
                            .green_btn2
                                a(href='teeth_whitening.php')
                                    img(src='images/btn_Zoom!TeethWhitening.jpg', alt='Zoom 1 Hour teeth Whitening In Surgery')
                    tr
                        td(align='right')
        .global_footer
            #address
            .box_wrap
                p
                    b
                        | Old Kent Road Dental Studio, 268a Old Kent Road, London, SE1 5UB Tel: 020 7701 7878
                    br
                    br
                    span#bottom_link
                        a(href='general-dental-care.html') General dental care at NHS prices
                        | |
                        a(href='cosmetic-dentistry.html') Cosmetic dental treatments to suit all needs and budgets
                        | |
                        a(href='contact-us.html') Dentist Old Kent Road
                        | |
                        a(href='contact-us.html')
                            | Dentist London
                            br
                            | Bridge
                        | |
                        a(href='contact-us.html') Dentist SE1
                        | |
                        a(href='contact-us.html') Dentist Southwark
                        | |
                        a(href='contact-us.html') Dentist Tower Bridge
                        | |
                        a(href='contact-us.html') Dentist Bermondsey
                        | |
                        a(href='contact-us.html') Dentist Peckham
                        | |
                        a(href='contact-us.html') Dentist Elephant and Castle
                    br
                    br
                    span#rights
                        | © Copyright 2012 Old Kent Road Dental Studio. All Rights Reserved. | Old Kent Road Dental Studio is a Limited company registered in England and Wales
                p
                    a(href='http://www.matthewandpritchard.co.uk/dental_marketing.php') Dental Marketing & Web Design
                    | by Matthew & Pritchard
            #more
                .box_wrap
                    h1 General and Cosmetic Dentist in Southwark, SE1
                    p
                        | It can be difficult to find an understanding and reliable dentist, which is why at Old Kent Road Dental Studio, 268a, Southwark SE1 5UB, we believe in ensuring that visiting a dentist is a reassuring and positive experience. Looking for a  dentist in Southwark SE1or a private dental care at NHS prices or simply a Cosmetic Dentist, Elephant and Castle, London Bridge then look no further than your SE1-Dentist, the Old Kent Road Dental Studio is local to you and can help.
                    h2 Cosmetic Dentistry in Southwark, London SE1 and surrounding areas:
                    p
                        | Old Kent Road Dental Care is a general and cosmetic dentists offering not only Cosmetic Smile Makeovers but also advanced state of the art
                        a(href='general-dental-care.html') General Dentistry
                        | in Southwark, London. Old Kent Road Dental Care is a private dentist practice, but with near NHS pricing for this affordable high quality dental service in Elephant and Castle, near London Bridge and the City of London. We offer affordable private dentistry in a calm and friendly environment.
                    p
                        | See our before and after cases through the
                        a(href='cosmetic-dentistry.html') cosmetic dentistry
                        | section of this website. Looking for experts in cosmetic dentistry at affordable NHS prices? Look no further.
                        | Whether you live or work in any of the following areas,
                        a(href='../contact-us.html') SE1, EC2, SE11, SE17
                        | Old Kent Road Dental Studio will be able to provide the highest standard in affordable general and cosmetic private dental treatments from dental implants, restorative dentistry,
                        a(href='veneers.php') veneers
                        | ,
                        a(href='../inlays_onlays.php') inlays and onlays
                        | ,
                        a(href='../white_fillings.php') white fillings
                        | (replacing silver fillings),
                        a(href='../teeth_whitening.php') Teeth whitening
                        | ,
                        a(href='../all_ceramic_crowns_ bridges.php') crowns and bridges
                        | and
                        a(href='../dentures.php') dentures
                        | .
                    p
                        | Old Kent Road Dental Studio
                        a(href='../index.html') (www.se1-dentist.co.uk)
                        | will provide an efficient, timely service for all of your general private dentistry needs, so if you're working in The City and have a short amount of time in which to visit your dentist, the dental team at se1-dentists will not delay you with long waiting times and provide appointment times to suit you and work around your possible hectic lifestyle.
                    h2
                        a(href='../teeth_whitening.php') Tooth Whitening
                        | at Elephant & Castle, London Bridge and even Canary Wharf:
                    p
                        | Located on the famous Old Kent Road in London SE1, the Old Kent Road Dental Studio is within walking distance of the major stations of London Bridge and Elephant & Castle utilizing both national rail and the tube lines; bakerloo, northern and jubilee (we are a Canary Wharf dentist option). With this access from the main train services getting your teeth whitened during even your lunch hour or coming in to pick up your
                        a(href='../teeth_whitening.php') take home teeth whitening kit
                        | is certainly an option - we look forward to seeing you.
                    h2
                        a(href='../nhs-private-dentistry.html') Private v NHS Dentist London SE1
                        | :
                    p
                        | At
                        a(href='../index.html') www.se1-dentist.co.uk
                        | we pride ourselves on being able to offer affordable dental treatments at near NHS prices with a service that is unrivalled in the local area. Please feel free to take a
                        a(href='../Tour_of_our_Practice.php') tour of our practice
                        | and
                        a(href='../about_us.php') meet the dental team
                        | at
                        a(href='../index.html') SE1-dentist.co.uk
                        | .
                    p
                        | For any further questions, please get in touch by phone
                        a(href='../contact-us.html') 020 7701 7878
                        | or by
                        a(href='../booking.php') booking a dental appointment online
                        | .
                    p
                        | We looking forward to hearing from you and making your smile healthier and more attractive with the best in general and cosmetic private dental care.
            script.
                var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
                document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            script.
                try {
                var pageTracker = _gat._getTracker("UA-10327722-1");
                pageTracker._trackPageview();
                } catch(err) {}
