---
layout: 'default'
title: 'Special Offers | Dentists in Old Kent Road Dental London SE1'
banner: '/images/banner_specialOfferce.jpg'
description: 'At Old Kent Road Dental Studio, we take pride in being able to offer high quality dentistry at affordable prices. Our regular special offers and promotions will help you to save even more, so be sure to take a look and make the most of our latest great deals. High quality affordable dentistry in London SE1, Elephant & Castle, London Bridge'
keywords: 'special offers, dentist london se1, old kent road, dentist old kent road, elephant & castle, dentistry lambeth, bermondsey, rotherhithe, kennington'
---

table(width='98%', border='0', cellpadding='00', cellspacing='0')
    tr
        td(width='61%', rowspan='2', valign='top')
            h1 Special Offers
            p.
                At Old Kent Road Dental Studio, we take pride in being able to offer high
                quality dentistry at affordable prices. Our regular special offers and
                promotions will help you to save even more, so be sure to take a look and
                make the most of our latest great deals.
            p
                .special_offer_box
                    br
                    h1 New Patient Exam
                    h1 only £25
            p
                .special_offer_box
                    h1 Home
                    h1 Teeth Whitening Kit
                    h1 only £250
            p
                .special_offer_box
                    br
                    h1 Prophyjet Stain Removal-Jet Clean
                    h1 was £90 now only £50
            p
                .special_offer_box
                    br
                    h1 Routine exam with scale and polish
                    | Give your teeth a thorough clean and
                    br
                    | enjoy a fresher feeling for longer!
                    h1 regular patient discount only £35
        td(width='39%', align='right', valign='top')
            .leftBox_whychoose
                #head
                    img(src='/images/title_whyChoose.jpg', alt='Why Choose us')
                #mid
                    ul
                        li Affordable dental care that won’t break the bank
                        li High quality general and cosmetic dentistry
                        li Expert, highly experienced dentists
                        li Approachable, friendly team
                        li Modern, clean facilities
                        li Flexible opening times
                        li Convenient location
                #bottom
            .special_offers_btn Pop back again soon to see more of our latest special offers!
    tr
        td(align='right')