---
layout: 'default'
title: 'Special Offers | Dentists in Old Kent Road Dental London SE1'
banner: 'images/banner_specialOfferce.jpg'
description: 'At Old Kent Road Dental Studio, we take pride in being able to offer high quality dentistry at affordable prices. Our regular special offers and promotions will help you to save even more, so be sure to take a look and make the most of our latest great deals. High quality affordable dentistry in London SE1, Elephant & Castle, London Bridge'
keywords: 'special offers, dentist london se1, old kent road, dentist old kent road, elephant & castle, dentistry lambeth, bermondsey, rotherhithe, kennington'
---

table(width='98%', border='0', cellpadding='00', cellspacing='0')
    tr
        td(width='61%', rowspan='2', valign='top')
            h1 Special Offers
            p
                | At Old Kent Road Dental Studio, we take pride in being able to offer high
                | quality dentistry at affordable prices. Our regular special offers and
                | promotions will help you to save even more, so be sure to take a look and
                | make the most of our latest great deals.
            p
                img(src='images/offer_Zoom!2_teeth_whitening_299.gif', alt='Zoom!2 Teeth Whitening 1 hour In-Surgery Only £299')
            p
                img(src='images/offer_newPatientExam.gif', alt='New Patient Exam')
            p
                img(src='images/offer_teethWhiteningKit.gif', alt='Teeth Whitening Kit')
            p
                img(src='images/offer_braunToothbrush.gif', alt='Braun Electric Toothbrush')
            p
                img(src='images/offer_dentalExam.gif', alt='Dental Exam')
        td(width='39%', align='right', valign='top')
            .leftBox_whychoose
                #head
                    img(src='images/title_whyChoose.jpg', alt='Why Choose us')
                #mid
                    ul
                        li Affordable dental care that won’t break the bank
                        li High quality general and cosmetic dentistry
                        li Expert, highly experienced dentists
                        li Approachable, friendly team
                        li Modern, clean facilities
                        li Flexible opening times
                        li Convenient location
                #bottom
            .green_btn2
                img(src='images/btn_popBack.jpg', width='170', height='60')
    tr
        td(align='right')