!!! transitional
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        link(href='css/global.css', rel='stylesheet', type='text/css')
        script( src='js/email.js')
        //if IE
        style.
            div { behavior: url(includes/iepngfix.htc)}
        //if gt IE 6
        link(href='css/ie.css', rel='stylesheet', type='text/css')
        //if IE 6
        link(href='css/ie6.css', rel='stylesheet', type='text/css')
        title Teeth Whitening | Dentists in Old Kent Road Dental London SE1
        meta(name='description', content='Teeth Whitening in London SE1, Elephant & Castle, London Bridge')
        meta(name='keywords', content='teeth whitening, tooth whitening, se1, stained teeth, zoom teeth whitening, take home tooth whitening denstist, in surgery teeth whitening, dentist london se1, old kent road, elephant & castle, cosmetic dentistry, cosmetic')
        script(src='js/AC_RunActiveContent.js', type='text/javascript')
body
    .layout_top
    .global_wrap
        .global_header
            .logo
                a(href='index.thml')
                    a(href='index.thml')
                        img(src='images/logo.gif', border='0')
            .top_right
                #phone_no
                    img(src='images/phone.jpg', alt='call us on:020 7701 7878', width='184', height='46')
                br
                a(href='booking.html')
                    img(src='images/btn_bookAppointemt.jpg', alt='Book appointment', width='208', height='41')
            .global_topNavigation
                ul#top
                    li
                        a(href='index.thml')
                        | HOME
                    li
                        a(href='about-us.html')
                        | ABOUT US
                    li
                        a(href='nhs-private-dentistry.html')
                        | NHS V PRIVATE DENTISTRY
                    li
                        a(href='fee-guide.html')
                        | FEE GUIDE
                ul
                    li
                        a(href='general-dental-care.html')
                        | GENERAL DENTAL CARE
                    li
                        a(href='cosmetic-dentistry.html')
                        | COSMETIC DENTISTRY
                    li
                        a(href='special-offers.html')
                        | SPECIAL OFFERS
                    li
                        a(href='contact-us.html')
                        | CONTACT US
        .banner
            img(src='images/banner_cosmeticDentistry.jpg', alt='cosmetic Dentistry')
        .global_content
            table(width='98%', border='0', cellpadding='00', cellspacing='0')
                tr
                    td(width='61%', rowspan='3', valign='top')
                        //
                        <img src="images/header_teethWhitening.jpg" alt="Teeth Whitening" />
                        h1 Teeth Whitening
                        p
                            | An increasingly popular treatment for restoring the sparkle to your smile,
                            | teeth whitening is a quick, effective and safe procedure for removing
                            | stubborn stains on the teeth that can not be removed by brushing alone.
                            | With a choice of treatments available to suit your individual needs, a
                            | brighter, whiter smile can leave you feeling rejuvenated and more
                            | confident within hours or days.
                        //
                        <br />
                        <p><img src="images/header_teethWhitening_zoomAdvancePower.jpg" alt="Zoom Advanced Power In-Surgery Whitening" /><br />
                        h2 Zoom! Advanced Power In-Surgery Whitening
                        p
                            | With Zoom Advanced Power, a revolutionary new in-surgery
                            | whitening procedure, we are able bring you the very latest way to whiten
                            | your teeth with immediate results. We can whiten your teeth by up to 10
                            | shades in only 45 minutes, allowing you to smile with confidence straight
                            | away.
                        p
                            | This whitening technique will give professionally lighter teeth in one sitting
                            | of about an hour and a half. Once in the dental chair, a whitening gel is
                            | applied to the teeth by your dentist and a powerful LED light is then used
                            | to activate and help accelerate the effectiveness of the gel.
                        //
                        <br /><p><img src="images/header_teethWhitening_TakeHomeKit.jpg" alt="Take Home Kit" /><br />
                        h2 Teeth Whitening Take Home Kit
                        p
                            | This whitening technique involves taking custom made thin
                            | transparent guards home with you for use with your whitening gel
                            | either overnight or daily. It usually takes from to 7 to 10 days to see
                            | any noticeable effects of this type of treatment.
                        p
                            | We have selected a system that provides us and our patients with
                            | results and that is also;
                            ul
                                li
                                    | Proven to be safe and effective through numerous studies
                                li
                                    | A tried and tested way of removing stains
                                li
                                    | A quick, simple and easy way to achieving immediate
                                    | results
                                li
                                    | Offers a reliable technique for a clean, bright and natural
                                    | looking smile to the level of whiteness that can be
                                    | determined by you
                                li
                                    | Lasts for years with the right maintenance
                    td(width='39%', align='right', valign='top')
                        .leftBox_cosmeticDentalTreatments
                            #head
                                img(src='images/boxTitle_OurCosmeticDentalTreatments.jpg', alt='Why Choose us')
                            #mid
                                table(width='100%', height='161', border='0', cellpadding='00', cellspacing='0')
                                    tr
                                        td(height='28', valign='middle')
                                            a(href='white-fillings.html') White Fillings
                                    tr
                                        td(height='28', valign='middle', bgcolor='#DDEFF1')
                                            a(href='inlays-onlays.html') Inlays & Onlays
                                    tr
                                        td(height='28', valign='middle')
                                            a(href='teeth-whitening.html') Teeth Whitening
                                    tr
                                        td(height='28', valign='middle', bgcolor='#DDEFF1')
                                            a(href='all-ceramic-crowns-bridges.html') Crowns & Bridges
                                    tr
                                        td(height='28', valign='middle')
                                            a(href='veneers.html') Veneers
                                    tr
                                        td(height='20', valign='bottom', bgcolor='#DDEFF1')
                                            a(href='dentures.html') Dentures
                            #bottom
                        br
                        script.
                            AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','210','height','128','title','teeth whitening','src','swf/teeth whitening','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','wmode','transparent','movie','swf/teeth whitening' ); //end AC code
                        noscript
                            object(classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000', codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0', width='210', height='128', title='teeth whitening')
                                param(name='movie', value='swf/teeth whitening.swf')
                                param(name='quality', value='high')
                                param(name='wmode', value='transparent')
                                embed(src='swf/teeth whitening.swf', width='210', height='128', quality='high', pluginspage='http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash', type='application/x-shockwave-flash', wmode='transparent')
                        br
                        .green_btn2
                            img(src='images/btn_Zoom!TeethWhitening.jpg', alt='Zoom 1 hour teeth Whitening In Surgery')
                        br
                        img(src='images/btn_zoom.png', alt='Zoom', width='222', height='74')
                        br
                        br
                        .zoomVideo
                            object(width='186', height='155')
                                param(name='movie', value='http://www.youtube-nocookie.com/v/-IZMwzQqFso&hl=en&fs=1&rel=0')
                                param(name='allowFullScreen', value='true')
                                param(name='allowscriptaccess', value='always')
                                embed(src='http://www.youtube-nocookie.com/v/-IZMwzQqFso&hl=en&fs=1&rel=0', type='application/x-shockwave-flash', allowscriptaccess='always', allowfullscreen='true', width='186', height='155')
                tr
                    td(align='right', valign='top')
                        br
                        br
                tr
                    td(align='right')
    .global_footer
        #address
        .box_wrap
            p
                b
                    | Old Kent Road Dental Studio, 268a Old Kent Road, London, SE1 5UB Tel: 020 7701 7878
                br
                br
                span#bottom_link
                    a(href='general-dental-care.html') General dental care at NHS prices
                    | |
                    a(href='cosmetic-dentistry.html') Cosmetic dental treatments to suit all needs and budgets
                    | |
                    a(href='contact-us.html') Dentist Old Kent Road
                    | |
                    a(href='contact-us.html')
                        | Dentist London
                        br
                        | Bridge
                    | |
                    a(href='contact-us.html') Dentist SE1
                    | |
                    a(href='contact-us.html') Dentist Southwark
                    | |
                    a(href='contact-us.html') Dentist Tower Bridge
                    | |
                    a(href='contact-us.html') Dentist Bermondsey
                    | |
                    a(href='contact-us.html') Dentist Peckham
                    | |
                    a(href='contact-us.html') Dentist Elephant and Castle
                br
                br
                span#rights
                    | © Copyright 2012 Old Kent Road Dental Studio. All Rights Reserved. | Old Kent Road Dental Studio is a Limited company registered in England and Wales
            p
                a(href='http://www.matthewandpritchard.co.uk/dental_marketing.php') Dental Marketing & Web Design
                | by Matthew & Pritchard
        #more
            .box_wrap
                h1 General and Cosmetic Dentist in Southwark, SE1
                p
                    | It can be difficult to find an understanding and reliable dentist, which is why at Old Kent Road Dental Studio, 268a, Southwark SE1 5UB, we believe in ensuring that visiting a dentist is a reassuring and positive experience. Looking for a  dentist in Southwark SE1or a private dental care at NHS prices or simply a Cosmetic Dentist, Elephant and Castle, London Bridge then look no further than your SE1-Dentist, the Old Kent Road Dental Studio is local to you and can help.
                h2 Cosmetic Dentistry in Southwark, London SE1 and surrounding areas:
                p
                    | Old Kent Road Dental Care is a general and cosmetic dentists offering not only Cosmetic Smile Makeovers but also advanced state of the art
                    a(href='general-dental-care.html') General Dentistry
                    | in Southwark, London. Old Kent Road Dental Care is a private dentist practice, but with near NHS pricing for this affordable high quality dental service in Elephant and Castle, near London Bridge and the City of London. We offer affordable private dentistry in a calm and friendly environment.
                p
                    | See our before and after cases through the
                    a(href='cosmetic-dentistry.html') cosmetic dentistry
                    | section of this website. Looking for experts in cosmetic dentistry at affordable NHS prices? Look no further.
                    | Whether you live or work in any of the following areas,
                    a(href='../contact-us.html') SE1, EC2, SE11, SE17
                    | Old Kent Road Dental Studio will be able to provide the highest standard in affordable general and cosmetic private dental treatments from dental implants, restorative dentistry,
                    a(href='veneers.html') veneers
                    | ,
                    a(href='../inlays-onlays.html') inlays and onlays
                    | ,
                    a(href='../white-fillings.html') white fillings
                    | (replacing silver fillings),
                    a(href='../teeth-whitening.html') Teeth whitening
                    | ,
                    a(href='../all-ceramic-crowns-bridges.html') crowns and bridges
                    | and
                    a(href='../dentures.html') dentures
                    | .
                p
                    | Old Kent Road Dental Studio
                    a(href='../index.thml') (www.se1-dentist.co.uk)
                    | will provide an efficient, timely service for all of your general private dentistry needs, so if you're working in The City and have a short amount of time in which to visit your dentist, the dental team at se1-dentists will not delay you with long waiting times and provide appointment times to suit you and work around your possible hectic lifestyle.
                h2
                    a(href='../teeth-whitening.html') Tooth Whitening
                    | at Elephant & Castle, London Bridge and even Canary Wharf:
                p
                    | Located on the famous Old Kent Road in London SE1, the Old Kent Road Dental Studio is within walking distance of the major stations of London Bridge and Elephant & Castle utilizing both national rail and the tube lines; bakerloo, northern and jubilee (we are a Canary Wharf dentist option). With this access from the main train services getting your teeth whitened during even your lunch hour or coming in to pick up your
                    a(href='../teeth-whitening.html') take home teeth whitening kit
                    | is certainly an option - we look forward to seeing you.
                h2
                    a(href='../nhs-private-dentistry.html') Private v NHS Dentist London SE1
                    | :
                p
                    | At
                    a(href='../index.thml') www.se1-dentist.co.uk
                    | we pride ourselves on being able to offer affordable dental treatments at near NHS prices with a service that is unrivalled in the local area. Please feel free to take a
                    a(href='../tour-of-our-practice.html') tour of our practice
                    | and
                    a(href='../about-us.html') meet the dental team
                    | at
                    a(href='../index.thml') SE1-dentist.co.uk
                    | .
                p
                    | For any further questions, please get in touch by phone
                    a(href='../contact-us.html') 020 7701 7878
                    | or by
                    a(href='../booking.html') booking a dental appointment online
                    | .
                p
                    | We looking forward to hearing from you and making your smile healthier and more attractive with the best in general and cosmetic private dental care.
        script.
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        script.
            try {
            var pageTracker = _gat._getTracker("UA-10327722-1");
            pageTracker._trackPageview();
            } catch(err) {}
        script.
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        script.
            try {
            var pageTracker = _gat._getTracker("UA-10327722-1");
            pageTracker._trackPageview();
            } catch(err) {}
