---
layout: 'default'
title: 'Teeth Whitening | Dentists in Old Kent Road Dental London SE1'
banner: 'images/banner_cosmeticDentistry.jpg'
description: 'Teeth Whitening in London SE1, Elephant & Castle, London Bridge'
keywords: 'teeth whitening, tooth whitening, se1, stained teeth, zoom teeth whitening, take home tooth whitening denstist, in surgery teeth whitening, dentist london se1, old kent road, elephant & castle, cosmetic dentistry, cosmetic'
---

table(width='98%', border='0', cellpadding='00', cellspacing='0')
    tr
        td(width='61%', rowspan='3', valign='top')
            h1 Teeth Whitening
            p
                | An increasingly popular treatment for restoring the sparkle to your smile,
                | teeth whitening is a quick, effective and safe procedure for removing
                | stubborn stains on the teeth that can not be removed by brushing alone.
                | With a choice of treatments available to suit your individual needs, a
                | brighter, whiter smile can leave you feeling rejuvenated and more
                | confident within hours or days.
            h2 Zoom! Advanced Power In-Surgery Whitening
            p
                | With Zoom Advanced Power, a revolutionary new in-surgery
                | whitening procedure, we are able bring you the very latest way to whiten
                | your teeth with immediate results. We can whiten your teeth by up to 10
                | shades in only 45 minutes, allowing you to smile with confidence straight
                | away.
            p
                | This whitening technique will give professionally lighter teeth in one sitting
                | of about an hour and a half. Once in the dental chair, a whitening gel is
                | applied to the teeth by your dentist and a powerful LED light is then used
                | to activate and help accelerate the effectiveness of the gel.
            h2 Teeth Whitening Take Home Kit
            p
                | This whitening technique involves taking custom made thin
                | transparent guards home with you for use with your whitening gel
                | either overnight or daily. It usually takes from to 7 to 10 days to see
                | any noticeable effects of this type of treatment.
            p
                | We have selected a system that provides us and our patients with
                | results and that is also;
                ul
                    li
                        | Proven to be safe and effective through numerous studies
                    li
                        | A tried and tested way of removing stains
                    li
                        | A quick, simple and easy way to achieving immediate
                        | results
                    li
                        | Offers a reliable technique for a clean, bright and natural
                        | looking smile to the level of whiteness that can be
                        | determined by you
                    li
                        | Lasts for years with the right maintenance
        td(width='39%', align='right', valign='top')
            .leftBox_cosmeticDentalTreatments
                #head
                    img(src='images/boxTitle_OurCosmeticDentalTreatments.jpg', alt='Why Choose us')
                #mid
                    table(width='100%', height='161', border='0', cellpadding='00', cellspacing='0')
                        tr
                            td(height='28', valign='middle')
                                a(href='white-fillings.html') White Fillings
                        tr
                            td(height='28', valign='middle', bgcolor='#DDEFF1')
                                a(href='inlays-onlays.html') Inlays & Onlays
                        tr
                            td(height='28', valign='middle')
                                a(href='teeth-whitening.html') Teeth Whitening
                        tr
                            td(height='28', valign='middle', bgcolor='#DDEFF1')
                                a(href='all-ceramic-crowns-bridges.html') Crowns & Bridges
                        tr
                            td(height='28', valign='middle')
                                a(href='veneers.html') Veneers
                        tr
                            td(height='20', valign='bottom', bgcolor='#DDEFF1')
                                a(href='dentures.html') Dentures
                #bottom
            br
            script.
                AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','210','height','128','title','teeth whitening','src','swf/teeth whitening','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','wmode','transparent','movie','swf/teeth whitening' ); //end AC code
            noscript
                object(classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000', codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0', width='210', height='128', title='teeth whitening')
                    param(name='movie', value='swf/teeth whitening.swf')
                    param(name='quality', value='high')
                    param(name='wmode', value='transparent')
                    embed(src='swf/teeth whitening.swf', width='210', height='128', quality='high', pluginspage='http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash', type='application/x-shockwave-flash', wmode='transparent')
            br
            .green_btn2
                img(src='images/btn_Zoom!TeethWhitening.jpg', alt='Zoom 1 hour teeth Whitening In Surgery')
            br
            img(src='images/btn_zoom.png', alt='Zoom', width='222', height='74')
            br
            br
            .zoomVideo
                object(width='186', height='155')
                    param(name='movie', value='http://www.youtube-nocookie.com/v/-IZMwzQqFso&hl=en&fs=1&rel=0')
                    param(name='allowFullScreen', value='true')
                    param(name='allowscriptaccess', value='always')
                    embed(src='http://www.youtube-nocookie.com/v/-IZMwzQqFso&hl=en&fs=1&rel=0', type='application/x-shockwave-flash', allowscriptaccess='always', allowfullscreen='true', width='186', height='155')
    tr
        td(align='right', valign='top')
            br
            br
    tr
        td(align='right')