---
layout: 'default'
title: 'Veneers | Dentists in Old Kent Road Dental London SE1'
banner: '/images/banner_cosmeticDentistry.jpg'
description: 'Veneers are very thin shells of porcelain which are made to fit over the visible surface of your tooth. Dentist in London SE1, SE1 Dentist, at the Old Kent Road Dental Studiuo in Elephant & Castle, London Bridge'
keywords: 'veneers, veneers se1, deverly discoloured, chipped teeth, cracked teeth, gaps between teeth, crooked teeth, dentist london se1, old kent road, elephant & castle, cosmetic dentistry, cosmetic'
---

table(width='98%', border='0', cellpadding='00', cellspacing='0')
    tr
        td(width='61%', rowspan='2', valign='top')
            h1 Veneers
            p.
                Veneers are very thin shells of porcelain which are made to fit over the
                visible surface of your tooth. Providing the ideal way of treating discoloured
                severely discoloured, chipped, cracked or unsightly teeth, Veneers are
                recognized for being a long lasting and natural looking way of dramatically
                improving the appearance of your smile.
            p Improve the appearance of teeth which are:
            ul
                li Severely discoloured / stained
                li Chipped
                li Cracked
                li Gaps
                li Crooked
            h2 What are the advantages of veneers?
            p.
                Veneers make teeth look natural and healthy. As they are very thin
                and are held in place by a special strong bond (rather like
                super-glue) very little preparation of the tooth is needed.
            br
            h2 How long do dental veneers last?
            p.
                Porcelain veneers will typically last between five and ten years, meaning
                that they will need to eventually be replaced. To make your veneers last
                longer, follow a good oral hygiene program and visit your dentist for
                check-ups on a regular basis.
        td(width='39%', align='right', valign='top')
            .leftBox_cosmeticDentalTreatments
                #head
                    img(src='/images/boxTitle_OurCosmeticDentalTreatments.jpg', alt='Why Choose us')
                #mid
                    table(width='100%', height='161', border='0', cellpadding='00', cellspacing='0')
                        tr
                            td(height='28', valign='middle')
                                a(href='/white-fillings') White Fillings
                        tr
                            td(height='28', valign='middle', bgcolor='#DDEFF1')
                                a(href='/inlays-onlays') Inlays & Onlays
                        tr
                            td(height='28', valign='middle')
                                a(href='/teeth-whitening') Teeth Whitening
                        tr
                            td(height='28', valign='middle', bgcolor='#DDEFF1')
                                a(href='/all-ceramic-crowns-bridges') All Ceramic Crowns & Bridges
                        tr
                            td(height='28', valign='middle')
                                a(href='/veneers') Veneers
                        tr
                            td(height='20', valign='bottom', bgcolor='#DDEFF1')
                                a(href='/dentures') Dentures
                #bottom
            br
            script.
                AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','210','height','128','src','/swf/veneers','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','wmode','transparent','movie','/swf/veneers' ); //end AC code
            noscript
                object(classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000', codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0', width='210', height='128')
                    param(name='movie', value='/swf/veneers.swf')
                    param(name='quality', value='high')
                    param(name='wmode', value='transparent')
                    embed(src='/swf/veneers.swf', width='210', height='128', quality='high', pluginspage='http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash', type='application/x-shockwave-flash', wmode='transparent')
            br
            .green_btn
                | Veneers from £200
    tr
        td(align='right', valign='top')