---
layout: 'default'
title: 'White Fillings | Dentists in Old Kent Road Dental London SE1'
banner: '/images/banner_cosmeticDentistry.jpg'
description: 'White or tooth coloured fillings provide a healthier more natural alternative to traditional silver or amalgam fillings. Dentist in London SE1, Elephant & Castle, London Bridge'
keywords: 'white fillings, se1, silver fillings, amalgam fillings, silver fillings, dentist london se1, old kent road, elephant & castle, cosmetic dentistry, cosmetic'
---

table(width='98%', border='0', cellpadding='00', cellspacing='0')
    tr
        td(width='61%', rowspan='2', valign='top')
            h1 White Fillings
            p
                | White or tooth coloured fillings provide a healthier more natural alternative
                | to traditional silver or amalgam fillings. They also allow for a minimally
                | invasive restoration meaning more of your natural tooth can be
                | preserved.
            ul
                li More natural looking than amalgam or silver
                li Minimally invasive - meaning less time spent in the dentist’s chair
            h2 Are white fillings as good as silver amalgam fillings?
            p
                | White fillings have always been considered less long lasting than
                | silver amalgam fillings, however with the advanced materials we use at
                | Old Kent Road Dental Studio, a white filling can often last as long as a
                | silver filling. The life expectancy of a white filling can depend greatly on
                | where it is in your mouth and how heavily your teeth come together
                | when you bite. Your dentist can advise you on the life expectancy of your
                | fillings.
            h2 Can I replace my amalgam fillings with white ones?
            p
                | It is usually best to change fillings only when your dentist decides that
                | an old filling needs replacing. If so you can ask to have it replaced in a
                | tooth-coloured material.
        td(width='39%', align='right', valign='top')
            .leftBox_cosmeticDentalTreatments
                #head
                    img(src='/images/boxTitle_OurCosmeticDentalTreatments.jpg', alt='Why Choose us')
                #mid
                    table(width='100%', height='161', border='0', cellpadding='00', cellspacing='0')
                        tr
                            td(height='28', valign='middle')
                                a(href='/white-fillingsl') White Fillings
                        tr
                            td(height='28', valign='middle', bgcolor='#DDEFF1')
                                a(href='/inlays-onlays') Inlays & Onlays
                        tr
                            td(height='28', valign='middle')
                                a(href='/teeth-whitening') Teeth Whitening
                        tr
                            td(height='28', valign='middle', bgcolor='#DDEFF1')
                                a(href='/all-ceramic-crowns-bridges') Crowns & Bridges
                        tr
                            td(height='28', valign='middle')
                                a(href='/veneers') Veneers
                        tr
                            td(height='20', valign='bottom', bgcolor='#DDEFF1')
                                a(href='/dentures') Dentures
                #bottom
            br
            script.
                AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','212','height','128','title','White filling','src','/swf/whiteFilling','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','wmode','transparent','movie','/swf/whiteFilling' ); //end AC code
            noscript
                object(classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000', codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0', width='212', height='128', title='White filling')
                    param(name='movie', value='/swf/whiteFilling.swf')
                    param(name='quality', value='high')
                    param(name='wmode', value='transparent')
                    embed(src='/swf/whiteFilling.swf', width='212', height='128', quality='high', pluginspage='http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash', type='application/x-shockwave-flash', wmode='transparent')
            br
            .green_btn
                img(src='/images/btn_whiteFilling.jpg', alt='White Filling')
    tr
        td(align='right')
            br