!!! transitional
html(xmlns='http://www.w3.org/1999/xhtml')
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(href='/css/global.css', rel='stylesheet', type='text/css')
    script(src='/js/email.js')
    script(src='/js/AC_RunActiveContent.js', type='text/javascript')
    //if IE
      style.
        div { behavior: url(includes/iepngfix.htc)}
    //if gt IE 6
      link(href='css/ie.css', rel='stylesheet', type='text/css')
    //if IE 6
      link(href='css/ie6.css', rel='stylesheet', type='text/css')
    title= getPreparedTitle()
    meta(name='DC.title', content='Dentist London SE1 | Dentist Elephant and Castle | NHS Dentist Southwark')
    meta(name='geo.region', content='GB-SWK')
    meta(name='geo.placename', content='London')
    meta(name='geo.position', content='51.480421;-0.063171')
    meta(name='ICBM', content='51.480421, -0.063171')
    meta(name='description', content!= document.description)
    meta(name='keywords', content!= document.keywords)
    meta(name='norton-safeweb-site-verification', content='-4k5z53ijyx0ibjblfeu3e2ywsracb0dat6u9heyauy6jn-c0xb-bo5hy3w92xb4-ywb8w0utyp0rab6nzc30x0by18jt8g9as7bj-l5t3vw gfa61ew1o5v7afjewguj')
    meta(name='google-site-verification', content='AcfinNcq0HDwdTeOp_goErqBd4ZmebFfIIOyu3t4fPo')
  body
    .layout_top
    .global_wrap
      .global_header
        .logo
          a(href='/')
            img(src='/images/logo.gif', border='0')
        .top_right
          #phone_no
            img(src='/images/phone.jpg', alt='call us on:020 7701 7878', width='184', height='46')
          br
          a(href='/booking')
            img(src='/images/btn_bookAppointemt.jpg', alt='Book appointment', width='208', height='41')
        .global_topNavigation
          ul#top
            li
              a(href="/") HOME
            li
              a(href='/about-us') ABOUT US
            li
              a(href='/nhs-private-dentistry') NHS V PRIVATE DENTISTRY
            li
              a(href='/fee-guide') FEE GUIDE
          ul
            li
              a(href='/general-dental-care') GENERAL DENTAL CARE
            li
              a(href='/cosmetic-dentistry') COSMETIC DENTISTRY
            li
              a(href='/special-offers') SPECIAL OFFERS
            li
              a(href='/contact-us') CONTACT US
      .banner
          img(src!= document.banner ,alt="Banner",width="773",height="239")

      .global_content!= content

    .global_footer
      #address
      .box_wrap
        p
          b
            | Old Kent Road Dental Studio, 268a Old Kent Road, London, SE1 5UB Tel: 020 7701 7878
          br
          br
          span#bottom_link
            :markdown
                [General dental care at NHS prices](/general-dental-care) | [Cosmetic dental treatments to suit all needs and budgets](/cosmetic-dentistry) |
                [Dentist Old Kent Road](/contact-us) | [Dentist London Bridge](/contact-us) |
                [Dentist SE1](/contact-us) | [Dentist Southwark](/contact-us) | [Dentist Tower Bridge](/contact-us) |
                [Dentist Bermondsey](/contact-us) | [Dentist Peckham](/contact-us) | [Dentist Elephant and Castle](/contact-us)
          br
          br
          span#rights
            | © Copyright 2012 Old Kent Road Dental Studio. All Rights Reserved. | Old Kent Road Dental Studio is a Limited company registered in England and Wales
        p
          a(href='http://www.matthewandpritchard.co.uk/dental_marketing.html') Dental Marketing & Web Design by Matthew & Pritchard
      #more
        .box_wrap
          h1 General and Cosmetic Dentist in Southwark, SE1
          p
            | It can be difficult to find an understanding and reliable dentist, which is why at Old Kent Road Dental Studio, 268a, Southwark SE1 5UB, we believe in ensuring that visiting a dentist is a reassuring and positive experience. Looking for a  dentist in Southwark SE1or a private dental care at NHS prices or simply a Cosmetic Dentist, Elephant and Castle, London Bridge then look no further than your SE1-Dentist, the Old Kent Road Dental Studio is local to you and can help.
          h2 Cosmetic Dentistry in Southwark, London SE1 and surrounding areas:
          p
            | Old Kent Road Dental Care is a general and cosmetic dentists offering not only Cosmetic Smile Makeovers but also advanced state of the art 
            a(href='/general-dental-care') General Dentistry in Southwark, London. Old Kent Road Dental Care is a private dentist practice, but with near NHS pricing for this affordable high quality dental service in Elephant and Castle, near London Bridge and the City of London. We offer affordable private dentistry in a calm and friendly environment.
          p
            :markdown
                See our before and after cases through the [cosmetic dentistry](/cosmetic-dentistry)  section of this website.
                Looking for experts in cosmetic dentistry at affordable NHS prices? Look no further.
                Whether you live or work in any of the following areas, [SE1, EC2, SE11, SE17](/contact-us)
                Old Kent Road Dental Studio will be able to provide the highest standard in affordable general and 
                cosmetic private dental treatments from dental implants, restorative dentistry, [veneers](/veneers) ,
                [inlays and onlays](/inlays-onlays) , [white fillings](/white-fillings) (replacing silver fillings),
                [Teeth whitening](/teeth-whitening) , [crowns and bridges](/all-ceramic-crowns-bridges) and [dentures](/dentures)             .
          p
            | Old Kent Road Dental Studio 
            a(href='/') (www.se1-dentist.co.uk) 
            | will provide an efficient, timely service for all of your general private dentistry needs, so if you're working in The City and have a short amount of time in which to visit your dentist, the dental team at se1-dentists will not delay you with long waiting times and provide appointment times to suit you and work around your possible hectic lifestyle.
          h2
            a(href='/teeth-whitening') Tooth Whitening 
            | at Elephant & Castle, London Bridge and even Canary Wharf: 
          p
            | Located on the famous Old Kent Road in London SE1, the Old Kent Road Dental Studio is within walking distance of the major stations of London Bridge and Elephant & Castle utilizing both national rail and the tube lines; bakerloo, northern and jubilee (we are a Canary Wharf dentist option). With this access from the main train services getting your teeth whitened during even your lunch hour or coming in to pick up your 
            a(href='/teeth-whitening') take home teeth whitening kit 
            | is certainly an option - we look forward to seeing you.
          h2
            a(href='/nhs-private-dentistry') Private v NHS Dentist London SE1
            | :
          p
            :markdown
                At [www.se1-dentist.co.uk](/) we pride ourselves on being able to offer affordable dental treatments 
                at near NHS prices with a service that is unrivalled in the local area. Please feel free 
                to take a [tour of our practice](//tour-of-our-practice) and [meet the dental team](/about-us)
                at [SE1-dentist.co.uk](/) .
          p
            :markdown
                For any further questions, please get in touch by phone [020 7701 7878](/contact-us)
                or by [booking a dental appointment online](/booking) .
          p 
            |We looking forward to hearing from you and making your smile healthier and more attractive with the best in general and cosmetic private dental care.
      script.
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      script.
        try {
        var pageTracker = _gat._getTracker("UA-10327722-1");
        pageTracker._trackPageview();
        } catch(err) {}
